<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>abbreviations</key>
    <string>&quot;gamla&quot;, &quot;G:la&quot;
&quot;sankt&quot;, &quot;s:t&quot;
&quot;sankta&quot;, &quot;s:ta&quot;
</string>
    <key>classifications</key>
    <string>&quot;Bro&quot;, &quot;Br&quot;
</string>
    <key>directions</key>
    <string>&quot;nordöst&quot;, &quot;NO&quot;
&quot;nordväst&quot;, &quot;NV&quot;
&quot;sydväst&quot;, &quot;SV&quot;
&quot;väster&quot;, &quot;V&quot;
&quot;norr&quot;, &quot;N&quot;
&quot;söder&quot;, &quot;S&quot;
&quot;sydöst&quot;, &quot;SO&quot;
&quot;öster&quot;, &quot;O&quot;
</string>
  </dict>
</plist>
