MapboxNavigation.xcworkspace

.DS_Store
.idea

xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
IDEWorkspaceChecks.plist

Pods/

Carthage/Build
Carthage/Checkouts
/documentation
/build
.build
.swiftpm/

Examples/Swift/Navigation_Example.mobileprovision

*-pre.podspec
