binary "https://www.mapbox.com/ios-sdk/Mapbox-iOS-SDK.json" ~> 5.2
binary "https://www.mapbox.com/ios-sdk/MapboxNavigationNative.json" ~> 6.2.1
github "mapbox/MapboxDirections.swift" ~> 0.30.0
github "mapbox/turf-swift" ~> 0.3
github "mapbox/mapbox-events-ios" ~> 0.9.5
github "ceeK/Solar" ~> 2.1.0
github "mapbox/mapbox-speech-swift" ~> 0.1.0
