binary "https://www.mapbox.com/ios-sdk/Mapbox-iOS-SDK.json" ~> 4.0
github "mapbox/MapboxDirections.swift" "9b665913193f1e9e1c34e9bd1380e866296eb63a"
github "mapbox/turf-swift" ~> 0.1
github "mapbox/mapbox-events-ios" ~> 0.4
github "ceeK/Solar" ~> 2.1.0
github "mapbox/mapbox-voice-swift" ~> 0.0.1
