binary "https://api.mapbox.com/downloads/v2/carthage/mapbox-common/MapboxCommon.json" ~> 23.5.0
binary "https://api.mapbox.com/downloads/v2/carthage/mobile-navigation-native/MapboxNavigationNative.xcframework.json" ~> 132.2.0
github "mapbox/mapbox-directions" ~> 2.10.0
github "mapbox/mapbox-events-ios" ~> 1.0.0
