<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>ayuntamiento</key>
		<string>Ayto</string>
		<key>ciudad</key>
		<string>Cdad</string>
		<key>colonia</key>
		<string>Col</string>
		<key>departamento</key>
		<string>Dep</string>
		<key>diciembre</key>
		<string>10bre</string>
		<key>doctor</key>
		<string>Dr</string>
		<key>doctora</key>
		<string>Dra</string>
		<key>doctoras</key>
		<string>Drs</string>
		<key>doctores</key>
		<string>Drs</string>
		<key>don</key>
		<string>D</string>
		<key>doña</key>
		<string>Dña</string>
		<key>internacional</key>
		<string>Intl</string>
		<key>noviembre</key>
		<string>9bre</string>
		<key>octubre</key>
		<string>8bre</string>
		<key>primera</key>
		<string>1ª</string>
		<key>primero</key>
		<string>1º</string>
		<key>san</key>
		<string>S</string>
		<key>santa</key>
		<string>Sta</string>
		<key>segunda</key>
		<string>2ª</string>
		<key>segundo</key>
		<string>2º</string>
		<key>septiembre</key>
		<string>7bre</string>
		<key>señor</key>
		<string>Sr</string>
		<key>señora</key>
		<string>Sra</string>
		<key>señorita</key>
		<string>Srta</string>
		<key>tercera</key>
		<string>3ª</string>
		<key>tercero</key>
		<string>3º</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>autopista</key>
		<string>Auto</string>
		<key>avenida</key>
		<string>Av</string>
		<key>calle</key>
		<string>C</string>
		<key>camino</key>
		<string>Cmno</string>
		<key>carretera</key>
		<string>Crta</string>
		<key>paseo</key>
		<string>Pº</string>
		<key>plaza</key>
		<string>Pza</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>este</key>
		<string>E</string>
		<key>noreste</key>
		<string>NE</string>
		<key>noroeste</key>
		<string>NO</string>
		<key>norte</key>
		<string>N</string>
		<key>oeste</key>
		<string>O</string>
		<key>sur</key>
		<string>S</string>
		<key>sureste</key>
		<string>SE</string>
		<key>suroeste</key>
		<string>SO</string>
	</dict>
</dict>
</plist>
