version: 2.1

step-library:
  - &restore-cache
      restore_cache:
        keys:
          - nav-cache-v5-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cartfile.resolved" }}
          - nav-cache-v5-{{ .Environment.CIRCLE_JOB }} # used if checksum fails

  - &save-cache
      save_cache:
        key: nav-cache-v5-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cartfile.resolved" }}
        paths:
          - Carthage

  - &restore-cache-cocoapods
      restore_cache:
        keys:
          - nav-cache-pod-v1-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Tests/CocoaPodsTest/PodInstall/Podfile.lock" }}
          - nav-cache-pod-v1

  - &restore-cache-cocoapods-installation
      restore_cache:
        keys:
          - 1-gems-{{ checksum "Gemfile.lock" }}

  - &install-cocoapods-installation
      run:
        name: Install cocoapods
        command: |
          bundle check || bundle install --path vendor/bundle --clean

  - &save-cache-cocoapods-installation
      save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
  
  - &save-cache-cocoapods
      save_cache:
        key: nav-cache-pod-v1-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Tests/CocoaPodsTest/PodInstall/Podfile.lock" }}
        paths:
          - Tests/CocoaPodsTest/PodInstall/Pods

  - &restore-cache-podmaster
      restore_cache:
        keys:
          - podmaster-cache

  - &save-cache-podmaster
      save_cache:
        key: podmaster-cache
        paths:
          - "~/.cocoapods/repos/master"

  - &prepare-mapbox-file
      run:
        name: Prepare .mapbox file
        command: |
          echo "foo" > ~/.mapbox

  - &prepare-netrc-file
      run:
        name: Prepare .netrc file
        command: |
          echo "machine api.mapbox.com" >> ~/.netrc
          echo "login mapbox" >> ~/.netrc
          echo "password $SDK_REGISTRY_TOKEN" >> ~/.netrc

  - &update-carthage-version
      run:
        name: Update Carthage version
        command: |
          curl -OL "https://github.com/Carthage/Carthage/releases/download/0.36.0/Carthage.pkg"
          sudo installer -pkg Carthage.pkg -target /

  - &verify-missing-localizable-strings
      run:
        name: Verify missing localizable strings
        command: |
          ./scripts/convert_string_files.sh
          git diff --exit-code -- */*/*.lproj

  - &add-github-to-known-hosts
      run:
        name: Add GitHub to known hosts
        command: |
          for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts

  - &install-dependencies
      when:
        condition:
          not: << parameters.spm >>
        steps:
          run:
            name: Install Dependencies
            command: |
              ./scripts/wcarthage.sh bootstrap --platform ios --cache-builds --configuration Debug --no-use-binaries --use-netrc

  - &build-Example
      run:
        name: Build Example
        command: |
          xcodebuild -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=14.4,name=iPhone 8 Plus' -project MapboxNavigation.xcodeproj -scheme Example clean build | xcpretty

  - &trigger-metrics
      run:
        name: Trigger metrics
        command: |
          if [ -n "${MOBILE_METRICS_TOKEN}" ]; then
            bash -c "curl -X POST --header \"Content-Type: application/json\" --data '{\"parameters\": {\"run_ios_navigation_benchmark\": true, \"ci_ref\": $CIRCLE_BUILD_NUM, \"target_branch\": \"${CIRCLE_SHA1}\" }}' https://circleci.com/api/v2/project/github/mapbox/mobile-metrics/pipeline?circle-token=${MOBILE_METRICS_TOKEN}"
          else
            echo "MOBILE_METRICS_TOKEN not provided"
          fi

jobs:
  pod-job:
    parameters:
      update:
        type: boolean
        default: false
      iOS:
        type: string
        default: "14.4"
      xcode:
        type: string
        default: "12.4.0"
      lint:
        type: boolean
        default: false
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - *install-cocoapods-installation
      - *prepare-mapbox-file
      - *prepare-netrc-file
      - *update-carthage-version
      - *restore-cache-podmaster
      - *restore-cache-cocoapods-installation
      - *restore-cache-cocoapods
      - when:
          condition: << parameters.update >>
          steps:
            - run: cd Tests/CocoaPodsTest/PodInstall && bundle exec pod update --repo-update
      - unless:
          condition: << parameters.update >>
          steps:
            - run: cd Tests/CocoaPodsTest/PodInstall && bundle exec pod install --repo-update
      - run: cd Tests/CocoaPodsTest/PodInstall && xcodebuild -workspace PodInstall.xcworkspace -scheme PodInstall -destination 'platform=iOS Simulator,OS=<< parameters.iOS >>,name=iPhone 8 Plus' clean build | xcpretty
      - when:
          condition: << parameters.lint >>
          steps:
            - run: find . -path '*.podspec' -exec perl -pi -e 's/.+\.social_media_url.+//' {} \;
            - run: bundle exec pod lib lint MapboxCoreNavigation.podspec
      - *save-cache-podmaster
      - *save-cache-cocoapods
      - *save-cache-cocoapods-installation

  build-job:
    parameters:
      xcode:
        type: string
        default: "12.4.0"
      device:
        type: string
        default: "iPhone 8 Plus"
      iOS:
        type: string
        default: "14.4"
      spm:
        type: boolean
        default: false
      test:
        type: boolean
        default: true
      codecoverage:
        type: boolean
        default: false
      delete_private_deps:
        type: boolean
        default: false
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - *prepare-mapbox-file
      - *prepare-netrc-file
      - *update-carthage-version
      - *restore-cache
      - when:
          condition: << parameters.delete_private_deps >>
          steps:
            - run: rm -rf Cartfile.private && rm -rf Cartfile.resolved
      - *install-dependencies
      - *save-cache
      - run:
          name: Install prerequisites
          command: if [ $(xcversion simulators | grep -cF "iOS << parameters.iOS >> Simulator (installed)") -eq 0 ]; then xcversion simulators --install="iOS << parameters.iOS >>" || true; fi
      - run:
          name: pre-start simulator
          command: xcrun instruments -w "<< parameters.device >> (<< parameters.iOS >>) [" || true
      - *verify-missing-localizable-strings
      - *add-github-to-known-hosts
      - when:
          condition:
            not: << parameters.spm >>
          steps:
            - run:
                name: MapboxCoreNavigation
                command: xcodebuild -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=<< parameters.iOS >>,name=<< parameters.device >>' -project MapboxNavigation.xcodeproj -scheme MapboxCoreNavigation clean build <<# parameters.test >>test <</ parameters.test >> <<# parameters.codecoverage >>-enableCodeCoverage YES<</ parameters.codecoverage >>
      - when:
          condition: << parameters.spm >>
          steps:
            - run:
                name: Move Xcode project aside
                command: mv MapboxNavigation.xcodeproj MapboxNavigation.xcodeproj-aside
            - run:
                name: MapboxNavigation-Package
                command: xcodebuild -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=<< parameters.iOS >>,name=<< parameters.device >>' -scheme MapboxNavigation-Package build <<# parameters.test >>test <</ parameters.test >> <<# parameters.codecoverage >>-enableCodeCoverage YES<</ parameters.codecoverage >>
            - run:
                name: Move Xcode project back in place
                command: mv MapboxNavigation.xcodeproj-aside MapboxNavigation.xcodeproj
      - when:
          condition: << parameters.codecoverage >>
          steps:
            - run:
                name: Send code coverage
                command: bash <(curl -s https://codecov.io/bash)

  xcode-12-examples:
    parameters:
      xcode:
        type: string
        default: "12.4.0"
      spm:
        type: boolean
        default: true
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - *prepare-mapbox-file
      - *prepare-netrc-file
      - *update-carthage-version
      - *restore-cache
      - *install-dependencies
      - *add-github-to-known-hosts
      - *build-Example
      - *save-cache

  spm-integration-test:
    parameters:
      iOS:
        type: string
        default: "14.4"
      xcode:
        type: string
        default: "12.4.0"
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - *prepare-mapbox-file
      - *prepare-netrc-file
      - *add-github-to-known-hosts
      - run: sed -i '' -e "s/6cc9728a615ed9b08632a6c2d09f7fca57a5c542/`git rev-parse --verify HEAD`/" Tests/SPMTest/SPMTest.xcodeproj/project.pbxproj # Replace SPM package reference with current revision
      - run: cd Tests/SPMTest && xcodebuild -scheme SPMTest -destination 'platform=iOS Simulator,OS=<< parameters.iOS >>,name=iPhone 8 Plus' -derivedDataPath derivedData/ clean build | xcpretty
      - run: cd Tests/SPMTest && xcodebuild -scheme SPMTest -sdk iphoneos<< parameters.iOS >> -destination generic/platform=iOS -derivedDataPath derivedData/ clean archive CODE_SIGNING_ALLOWED="NO" | xcpretty

  ios-trigger-metrics:
    parameters:
      xcode:
        type: string
        default: "12.4.0"
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - *trigger-metrics

workflows:
  workflow:
    jobs:
      - build-job:
          name: "Xcode_12.4_iOS_14.4"
          xcode: "12.4.0"
          iOS: "14.4"
          device: "iPhone 8 Plus"
      - build-job:
          name: "Xcode_12.4_iOS_14.4_SPM"
          xcode: "12.4.0"
          iOS: "14.4"
          device: "iPhone 8 Plus"
          spm: true
          codecoverage: true
      - pod-job:
          name: "Xcode_12.0_iOS_14.0_CP_install"
          update: false
          xcode: "12.0.0"
          iOS: "14.0"
      - pod-job:
          name: "Xcode_12.0_iOS_14.0_CP_update"
          update: true
          xcode: "12.0.0"
          iOS: "14.0"
          lint: true
      - xcode-12-examples
      - spm-integration-test
      - ios-trigger-metrics:
          filters:
            branches:
              only: release-v2.0
