<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<string>"creek", "Crk"
"center", "Ctr"
"national", "Nat’l"
"mount", "Mt"
"mountain", "Mtn"
"crossing", "Xing"
"downtown", "Dtwn"
"international", "Int’l"
"park", "Pk"
"square", "Sq"
"saints", "SS"
"heights", "Hts"
"route", "Rte"
"saint", "St"
"fort", "Ft"
"market", "Mkt"
"centre", "Ctr"
"william", "Wm"
"school", "Sch"
"senior", "Sr"
"river", "Riv"
"sister", "Sr"
"village", "Vil"
"station", "Sta"
"apartments", "apts"
"university", "Univ"
"township", "Twp"
"lake", "Lk"
"junior", "Jr"
"father", "Fr"
"point", "Pt"
"memorial", "Mem"
"junction", "Jct"
</string>
	<key>classifications</key>
	<string>"court", "Ct"
"bypass", "Byp"
"drive", "Dr"
"motorway", "Mwy"
"bridge", "Br"
"place", "Pl"
"crescent", "Cres"
"parkway", "Pky"
"lane", "Ln"
"avenue", "Ave"
"expressway", "Expy"
"highway", "Hwy"
"square", "Sq"
"walkway", "Wky"
"pike", "Pk"
"freeway", "Fwy"
"street", "St"
"footway", "Ftwy"
"terrace", "Ter"
"boulevard", "Blvd"
"cove", "Cv"
"turnpike", "Tpk"
"road", "Rd"
"walk", "Wk"
"plaza", "Plz"
"circle", "Cir"
"alley", "Aly"
"point", "Pt"
</string>
	<key>directions</key>
	<string>"east", "E"
"northeast", "NE"
"south", "S"
"northwest", "NW"
"north", "N"
"southeast", "SE"
"southwest", "SW"
"west", "W"
</string>
</dict>
</plist>
