<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>Връх</key>
		<string>Вр</string>
		<key>апартаменти</key>
		<string>ап</string>
		<key>баща</key>
		<string>Бщ</string>
		<key>височини</key>
		<string>вис</string>
		<key>възел</key>
		<string>Въз</string>
		<key>езеро</key>
		<string>Ез</string>
		<key>крепост</key>
		<string>К-т</string>
		<key>маршрут</key>
		<string>М-т</string>
		<key>международен</key>
		<string>Межд</string>
		<key>младши</key>
		<string>Мл</string>
		<key>национален</key>
		<string>Нац</string>
		<key>пазар</key>
		<string>Mkt</string>
		<key>паметник</key>
		<string>Пам</string>
		<key>парк</key>
		<string>Пк</string>
		<key>планина</key>
		<string>Пл</string>
		<key>площад</key>
		<string>Пл</string>
		<key>поток</key>
		<string>П-к</string>
		<key>проход</key>
		<string>Прох</string>
		<key>район</key>
		<string>Р-н</string>
		<key>река</key>
		<string>Рек</string>
		<key>свети</key>
		<string>Св</string>
		<key>светисвети</key>
		<string>СвСв</string>
		<key>село</key>
		<string>с.</string>
		<key>сестра</key>
		<string>сес</string>
		<key>станция</key>
		<string>С-я</string>
		<key>старши</key>
		<string>Стрш</string>
		<key>точка</key>
		<string>Точ</string>
		<key>уилям</key>
		<string>Ум</string>
		<key>университет</key>
		<string>Уни</string>
		<key>училище</key>
		<string>Уч</string>
		<key>център</key>
		<string>Ц-р</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>алея</key>
		<string>Ал</string>
		<key>булевард</key>
		<string>Бул</string>
		<key>връх</key>
		<string>Вр</string>
		<key>задминаване</key>
		<string>Задм</string>
		<key>залив</key>
		<string>З-в</string>
		<key>кръгово</key>
		<string>Кр</string>
		<key>магистрала</key>
		<string>М-ла</string>
		<key>мост</key>
		<string>Мо</string>
		<key>място</key>
		<string>Мя</string>
		<key>пеш</key>
		<string>Пеш</string>
		<key>пешеходна</key>
		<string>Пеш</string>
		<key>плавен</key>
		<string>Пл</string>
		<key>платно</key>
		<string>Пл</string>
		<key>площад</key>
		<string>Пл</string>
		<key>път</key>
		<string>Път</string>
		<key>пътека</key>
		<string>П-ка</string>
		<key>скоростна</key>
		<string>Скор</string>
		<key>съд</key>
		<string>Сд</string>
		<key>тераса</key>
		<string>Тер</string>
		<key>точка</key>
		<string>Тч</string>
		<key>улица</key>
		<string>Ул</string>
		<key>шофиране</key>
		<string>Шоф</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>изток</key>
		<string>И</string>
		<key>север</key>
		<string>С</string>
		<key>северозапад</key>
		<string>СЗ</string>
		<key>североизток</key>
		<string>СИ</string>
		<key>юг</key>
		<string>Ю</string>
		<key>югозапад</key>
		<string>ЮЗ</string>
		<key>югоизток</key>
		<string>ЮИ</string>
	</dict>
</dict>
</plist>
