<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>abbreviations</key>
    <string>&quot;creek&quot;, &quot;Crk&quot;
&quot;center&quot;, &quot;Ctr&quot;
&quot;national&quot;, &quot;Nat’l&quot;
&quot;mount&quot;, &quot;Mt&quot;
&quot;mountain&quot;, &quot;Mtn&quot;
&quot;crossing&quot;, &quot;Xing&quot;
&quot;downtown&quot;, &quot;Dtwn&quot;
&quot;international&quot;, &quot;Int’l&quot;
&quot;park&quot;, &quot;Pk&quot;
&quot;square&quot;, &quot;Sq&quot;
&quot;saints&quot;, &quot;SS&quot;
&quot;heights&quot;, &quot;Hts&quot;
&quot;route&quot;, &quot;Rte&quot;
&quot;saint&quot;, &quot;St&quot;
&quot;fort&quot;, &quot;Ft&quot;
&quot;market&quot;, &quot;Mkt&quot;
&quot;centre&quot;, &quot;Ctr&quot;
&quot;william&quot;, &quot;Wm&quot;
&quot;school&quot;, &quot;Sch&quot;
&quot;senior&quot;, &quot;Sr&quot;
&quot;river&quot;, &quot;Riv&quot;
&quot;sister&quot;, &quot;Sis&quot;
&quot;village&quot;, &quot;Vil&quot;
&quot;station&quot;, &quot;Sta&quot;
&quot;apartments&quot;, &quot;apts&quot;
&quot;university&quot;, &quot;Univ&quot;
&quot;township&quot;, &quot;Twp&quot;
&quot;lake&quot;, &quot;Lk&quot;
&quot;junior&quot;, &quot;Jr&quot;
&quot;father&quot;, &quot;Fr&quot;
&quot;point&quot;, &quot;Pt&quot;
&quot;memorial&quot;, &quot;Mem&quot;
&quot;junction&quot;, &quot;Jct&quot;
</string>
    <key>classifications</key>
    <string>&quot;court&quot;, &quot;Ct&quot;
&quot;bypass&quot;, &quot;Byp&quot;
&quot;drive&quot;, &quot;Dr&quot;
&quot;motorway&quot;, &quot;Mwy&quot;
&quot;bridge&quot;, &quot;Br&quot;
&quot;place&quot;, &quot;Pl&quot;
&quot;crescent&quot;, &quot;Cres&quot;
&quot;parkway&quot;, &quot;Pky&quot;
&quot;lane&quot;, &quot;Ln&quot;
&quot;avenue&quot;, &quot;Ave&quot;
&quot;expressway&quot;, &quot;Expy&quot;
&quot;highway&quot;, &quot;Hwy&quot;
&quot;square&quot;, &quot;Sq&quot;
&quot;walkway&quot;, &quot;Wky&quot;
&quot;pike&quot;, &quot;Pk&quot;
&quot;freeway&quot;, &quot;Fwy&quot;
&quot;street&quot;, &quot;St&quot;
&quot;footway&quot;, &quot;Ftwy&quot;
&quot;terrace&quot;, &quot;Ter&quot;
&quot;boulevard&quot;, &quot;Blvd&quot;
&quot;cove&quot;, &quot;Cv&quot;
&quot;turnpike&quot;, &quot;Tpk&quot;
&quot;road&quot;, &quot;Rd&quot;
&quot;walk&quot;, &quot;Wk&quot;
&quot;plaza&quot;, &quot;Plz&quot;
&quot;circle&quot;, &quot;Cir&quot;
&quot;alley&quot;, &quot;Aly&quot;
&quot;point&quot;, &quot;Pt&quot;
</string>
    <key>directions</key>
    <string>&quot;est&quot;, &quot;E&quot;
&quot;nordest&quot;, &quot;NE&quot;
&quot;sud&quot;, &quot;S&quot;
&quot;nordoest&quot;, &quot;NO&quot;
&quot;nord&quot;, &quot;N&quot;
&quot;sudest&quot;, &quot;SE&quot;
&quot;sudoest&quot;, &quot;SO&quot;
&quot;oest&quot;, &quot;O&quot;
</string>
  </dict>
</plist>
