<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>abbreviations</key>
    <string>&quot;comunicacions&quot;,&quot;Com.&quot;
&quot;xarxa hidrogràfica&quot;,&quot;Curs Fluv.&quot;
&quot;edificació&quot;,&quot;Edif.&quot;
&quot;equipament&quot;,&quot;Equip.&quot;
&quot;element hidrogràfic&quot;,&quot;Hidr.&quot;
&quot;indret&quot;,&quot;Indr.&quot;
&quot;relleu del litoral&quot;,&quot;Lit.&quot;
&quot;municipi&quot;,&quot;Mun.&quot;
&quot;orografia&quot;,&quot;Orogr.&quot;
&quot;cap de municipi&quot;,&quot;Cap&quot;
&quot;barri&quot;,&quot;Barri&quot;
&quot;comarca&quot;,&quot;Cca.&quot;
&quot;disseminat&quot;,&quot;Diss&quot;
&quot;edificació històrica&quot;,&quot;Edif. Hist.&quot;
&quot;entitat de població&quot;,&quot;Nucli&quot;
&quot;disseminat&quot;,&quot;Diss.&quot;
&quot;entitat descentralitzada&quot;,&quot;E.M.D.&quot;
</string>
    <key>classifications</key>
    <string>&quot;accés&quot;,&quot;Acc.&quot;
&quot;antic&quot;,&quot;Antic&quot;
&quot;antiga carretera&quot;,&quot;Actra&quot;
&quot;apartaments&quot;,&quot;Apmt.&quot;
&quot;autopista&quot;,&quot;Autp.&quot;
&quot;autovia&quot;,&quot;Autv.&quot;
&quot;avinguda&quot;,&quot;Av.&quot;
&quot;baixada&quot;,&quot;Bda.&quot;
&quot;barranc&quot;,&quot;Bnc.&quot;
&quot;barri&quot;,&quot;B.&quot;
&quot;blocs&quot;,&quot;Bloc&quot;
&quot;calçada&quot;,&quot;Cda.&quot;
&quot;cantonada&quot;,&quot;Cant.&quot;
&quot;carrer&quot;,&quot;C.&quot;
&quot;carrerada&quot;,&quot;Ca.&quot;
&quot;carreró&quot;,&quot;Cró.&quot;
&quot;carretera&quot;,&quot;Ctra.&quot;
&quot;cases&quot;,&quot;Cses.&quot;
&quot;cinturó&quot;,&quot;Cinto&quot;
&quot;circumval·lació&quot;,&quot;Cval.&quot;
&quot;colònia&quot;,&quot;Col.&quot;
&quot;complex&quot;,&quot;Comp.&quot;
&quot;conjunt&quot;,&quot;Conj.&quot;
&quot;corraló&quot;,&quot;Crral&quot;
&quot;corredor&quot;,&quot;Cdor.&quot;
&quot;corriol&quot;,&quot;Crol.&quot;
&quot;costa&quot;,&quot;Cos.&quot;
&quot;disseminat&quot;,&quot;Disse&quot;
&quot;drecera&quot;,&quot;Drec.&quot;
&quot;enllaç&quot;,&quot;Ellaç&quot;
&quot;escala&quot;,&quot;Esc.&quot;
&quot;esplanada&quot;,&quot;Esp.&quot;
&quot;finca&quot;,&quot;Fin.&quot;
&quot;glorieta&quot;,&quot;Glor.&quot;
&quot;gran via&quot;,&quot;GV&quot;
&quot;grup&quot;,&quot;Gr.&quot;
&quot;jardí&quot;,&quot;J.&quot;
&quot;jardins&quot;,&quot;J.&quot;
&quot;lloc&quot;,&quot;Lloc&quot;
&quot;mirador&quot;,&quot;Mira.&quot;
&quot;muralla&quot;,&quot;Mur.&quot;
&quot;paratge&quot;,&quot;Pge.&quot;
&quot;partida&quot;,&quot;Par.&quot;
&quot;passadís&quot;,&quot;Pdís.&quot;
&quot;passatge&quot;,&quot;Ptge.&quot;
&quot;passeig&quot;,&quot;Pg.&quot;
&quot;passera&quot;,&quot;Psera&quot;
&quot;plaça&quot;,&quot;Pl.&quot;
&quot;placeta&quot;,&quot;Plta.&quot;
&quot;plana&quot;,&quot;Plana&quot;
&quot;platja&quot;,&quot;Pja.&quot;
&quot;polígon&quot;,&quot;Pol.&quot;
&quot;polígon industrial&quot;,&quot;PI.&quot;
&quot;pont&quot;,&quot;Pont&quot;
&quot;port&quot;,&quot;Port&quot;
&quot;porta&quot;,&quot;Pta.&quot;
&quot;portal&quot;,&quot;Ptal.&quot;
&quot;portals&quot;,&quot;Ptals&quot;
&quot;prolongació&quot;,&quot;Prol.&quot;
&quot;pujada&quot;,&quot;Pda.&quot;
&quot;rambla&quot;,&quot;Rbla.&quot;
&quot;rambleta&quot;,&quot;Rblt.&quot;
&quot;rial&quot;,&quot;Rial&quot;
&quot;riera&quot;,&quot;Ra.&quot;
&quot;ronda&quot;,&quot;Rda.&quot;
&quot;rotonda&quot;,&quot;Rot.&quot;
&quot;sector&quot;,&quot;Sec.&quot;
&quot;sender&quot;,&quot;Send.&quot;
&quot;sèquia&quot;,&quot;Sèq.&quot;
&quot;torrent&quot;,&quot;T.&quot;
&quot;travessera&quot;,&quot;Trav.&quot;
&quot;travessia&quot;,&quot;Trv.&quot;
&quot;urbanització&quot;,&quot;Urb.&quot;
&quot;veïnat&quot;,&quot;Veï.&quot;
&quot;viaducte&quot;,&quot;Vdct.&quot;
</string>
    <key>directions</key>
    <string>&quot;est&quot;, &quot;E&quot;
&quot;nordest&quot;, &quot;NE&quot;
&quot;sud&quot;, &quot;S&quot;
&quot;nordoest&quot;, &quot;NO&quot;
&quot;nord&quot;, &quot;N&quot;
&quot;sudest&quot;, &quot;SE&quot;
&quot;sudoest&quot;, &quot;SO&quot;
&quot;oest&quot;, &quot;O&quot;
</string>
  </dict>
</plist>
