<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>abbreviations</key>
    <string>&quot;Cim&quot;,&quot;cim&quot;
&quot;Coll&quot;,&quot;coll&quot;
&quot;Comunicacions&quot;,&quot;com.&quot;
&quot;Xarxa Hidrogràfica&quot;,&quot;curs fluv.&quot;
&quot;Edificació&quot;,&quot;edif.&quot;
&quot;Equipament&quot;,&quot;equip.&quot;
&quot;Element Hidrogràfic&quot;,&quot;hidr.&quot;
&quot;Indret&quot;,&quot;indr.&quot;
&quot;Relleu del Litoral&quot;,&quot;lit.&quot;
&quot;Municipi&quot;,&quot;mun.&quot;
&quot;Orografia&quot;,&quot;orogr.&quot;
&quot;Massís&quot;,&quot; Serra&quot;,&quot;serra&quot;
&quot;Cap de municipi&quot;,&quot;cap&quot;
&quot;Barri&quot;,&quot;barri&quot;
&quot;Comarca&quot;,&quot;cca.&quot;
&quot;Disseminat&quot;,&quot;diss&quot;
&quot;Edificació Històrica&quot;,&quot;edif. hist.&quot;
&quot;Entitat de població&quot;,&quot;nucli&quot;
&quot;Disseminat&quot;,&quot;diss.&quot;
&quot;Entitat descentralitzada&quot;,&quot;e.m.d.&quot;
</string>
    <key>classifications</key>
    <string>&quot;Accés&quot;,&quot;acc.&quot;
&quot;Antic&quot;,&quot;antic&quot;
&quot;Antiga carretera&quot;,&quot;actra&quot;
&quot;Apartaments&quot;,&quot;apmt.&quot;
&quot;Autopista&quot;,&quot;autp.&quot;
&quot;Autovia&quot;,&quot;autv.&quot;
&quot;Avinguda&quot;,&quot;av.&quot;
&quot;Baixada&quot;,&quot;bda.&quot;
&quot;Barranc&quot;,&quot;bnc.&quot;
&quot;Barri&quot;,&quot;b.&quot;
&quot;Bloc, blocs&quot;,&quot;bloc&quot;
&quot;Calçada&quot;,&quot;cda.&quot;
&quot;Camí&quot;,&quot;camí&quot;
&quot;Cantonada&quot;,&quot;cant.&quot;
&quot;Carrer&quot;,&quot;c.&quot;
&quot;Carrerada&quot;,&quot;ca.&quot;
&quot;Carreró&quot;,&quot;cró.&quot;
&quot;Carretera&quot;,&quot;ctra.&quot;
&quot;Cases&quot;,&quot;cses.&quot;
&quot;Cinturó&quot;,&quot;cinto&quot;
&quot;Circumval·lació&quot;,&quot;cval.&quot;
&quot;Colònia&quot;,&quot;col.&quot;
&quot;Complex&quot;,&quot;comp.&quot;
&quot;Conjunt&quot;,&quot;conj.&quot;
&quot;Corraló&quot;,&quot;crral&quot;
&quot;Corredor&quot;,&quot;cdor.&quot;
&quot;Corriol&quot;,&quot;crol.&quot;
&quot;Costa (via amb pendent)&quot;,&quot;cos.&quot;
&quot;Disseminat&quot;,&quot;disse&quot;
&quot;Drecera&quot;,&quot;drec.&quot;
&quot;Eix&quot;,&quot;eix&quot;
&quot;Enllaç&quot;,&quot;ellaç&quot;
&quot;Escala (via amb escales)&quot;,&quot;esc.&quot;
&quot;Esplanada&quot;,&quot;esp.&quot;
&quot;Finca&quot;,&quot;fin.&quot;
&quot;Glorieta&quot;,&quot;glor.&quot;
&quot;Gran Via&quot;,&quot;gv&quot;
&quot;Grup&quot;,&quot;gr.&quot;
&quot;Illa&quot;,&quot;illa&quot;
&quot;Jardí&quot;, jardins&quot;,&quot;j.&quot;
&quot;Lloc&quot;,&quot;lloc&quot;
&quot;Mirador&quot;,&quot;mira.&quot;
&quot;Moll&quot;,&quot;moll&quot;
&quot;Muralla&quot;,&quot;mur.&quot;
&quot;Paratge&quot;,&quot;pge.&quot;
&quot;Parc&quot;,&quot;parc&quot;
&quot;Partida&quot;,&quot;par.&quot;
&quot;Pas&quot;,&quot;pas&quot;
&quot;Passadís&quot;,&quot;pdís.&quot;
&quot;Passatge&quot;,&quot;ptge.&quot;
&quot;Passeig&quot;,&quot;pg.&quot;
&quot;Passera&quot;,&quot;psera&quot;
&quot;Pista&quot;,&quot;pista&quot;
&quot;Pla&quot;,&quot;pla&quot;
&quot;Plaça&quot;,&quot;pl.&quot;
&quot;Placeta&quot;,&quot;plta.&quot;
&quot;Plana&quot;,&quot;plana&quot;
&quot;Platja&quot;,&quot;pja.&quot;
&quot;Polígon&quot;,&quot;pol.&quot;
&quot;Polígon industrial&quot;,&quot;pi.&quot;
&quot;Pont&quot;,&quot;pont&quot;
&quot;Port&quot;,&quot;port&quot;
&quot;Porta&quot;,&quot;pta.&quot;
&quot;Portal&quot;,&quot;ptal.&quot;
&quot;Portals&quot;,&quot;ptals&quot;
&quot;Prolongació&quot;,&quot;prol.&quot;
&quot;Pujada&quot;,&quot;pda.&quot;
&quot;Racó&quot;,&quot;racó&quot;
&quot;Rail&quot;,&quot;rail&quot;
&quot;Ramal&quot;,&quot;ramal&quot;
&quot;Rambla&quot;,&quot;rbla.&quot;
&quot;Rambleta&quot;,&quot;rblt.&quot;
&quot;Rasa&quot;,&quot;rasa&quot;
&quot;Raval (carrer)&quot;,&quot;rav.&quot;
&quot;Raval (barri)&quot;,&quot;raval&quot;
&quot;Rial&quot;,&quot;rial&quot;
&quot;Riera&quot;,&quot;ra.&quot;
&quot;Ronda&quot;,&quot;rda.&quot;
&quot;Rotonda&quot;,&quot;rot.&quot;
&quot;Sector&quot;,&quot;sec.&quot;
&quot;Sender&quot;,&quot;send.&quot;
&quot;Sèquia&quot;,&quot;sèq.&quot;
&quot;via sense tipus&quot;,&quot;NC&quot;
&quot;Torrent&quot;,&quot;t.&quot;
&quot;Travessera&quot;,&quot;trav.&quot;
&quot;Travessia&quot;,&quot;trv.&quot;
&quot;Túnel&quot;,&quot;tunel&quot;
&quot;Urbanització&quot;,&quot;urb.&quot;
&quot;Veïnat&quot;,&quot;veï.&quot;
&quot;Via&quot;,&quot;via&quot;
&quot;Viaducte&quot;,&quot;vdct.&quot;
&quot;Vial&quot;,&quot;vial&quot;
&quot;Zona&quot;,&quot;zona&quot;
</string>
    <key>directions</key>
    <string>&quot;est&quot;, &quot;E&quot;
&quot;nordest&quot;, &quot;NE&quot;
&quot;sud&quot;, &quot;S&quot;
&quot;nordoest&quot;, &quot;NO&quot;
&quot;nord&quot;, &quot;N&quot;
&quot;sudest&quot;, &quot;SE&quot;
&quot;sudoest&quot;, &quot;SO&quot;
&quot;oest&quot;, &quot;O&quot;
</string>
  </dict>
</plist>
