<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>Barri</key>
		<string>barri</string>
		<key>Cap de municipi</key>
		<string>cap</string>
		<key>Cim</key>
		<string>cim</string>
		<key>Coll</key>
		<string>coll</string>
		<key>Comarca</key>
		<string>cca.</string>
		<key>Comunicacions</key>
		<string>com.</string>
		<key>Disseminat</key>
		<string>diss.</string>
		<key>Edificació</key>
		<string>edif.</string>
		<key>Edificació Històrica</key>
		<string>edif. hist.</string>
		<key>Element Hidrogràfic</key>
		<string>hidr.</string>
		<key>Entitat de població</key>
		<string>nucli</string>
		<key>Entitat descentralitzada</key>
		<string>e.m.d.</string>
		<key>Equipament</key>
		<string>equip.</string>
		<key>Indret</key>
		<string>indr.</string>
		<key>Municipi</key>
		<string>mun.</string>
		<key>Orografia</key>
		<string>orogr.</string>
		<key>Relleu del Litoral</key>
		<string>lit.</string>
		<key>Serra</key>
		<string>serra</string>
		<key>Xarxa Hidrogràfica</key>
		<string>curs fluv.</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>Accés</key>
		<string>acc.</string>
		<key>Antic</key>
		<string>antic</string>
		<key>Antiga carretera</key>
		<string>actra</string>
		<key>Apartaments</key>
		<string>apmt.</string>
		<key>Autopista</key>
		<string>autp.</string>
		<key>Autovia</key>
		<string>autv.</string>
		<key>Avinguda</key>
		<string>av.</string>
		<key>Baixada</key>
		<string>bda.</string>
		<key>Barranc</key>
		<string>bnc.</string>
		<key>Barri</key>
		<string>b.</string>
		<key>Bloc, blocs</key>
		<string>bloc</string>
		<key>Calçada</key>
		<string>cda.</string>
		<key>Camí</key>
		<string>camí</string>
		<key>Cantonada</key>
		<string>cant.</string>
		<key>Carrer</key>
		<string>c.</string>
		<key>Carrerada</key>
		<string>ca.</string>
		<key>Carreró</key>
		<string>cró.</string>
		<key>Carretera</key>
		<string>ctra.</string>
		<key>Cases</key>
		<string>cses.</string>
		<key>Cinturó</key>
		<string>cinto</string>
		<key>Circumval·lació</key>
		<string>cval.</string>
		<key>Colònia</key>
		<string>col.</string>
		<key>Complex</key>
		<string>comp.</string>
		<key>Conjunt</key>
		<string>conj.</string>
		<key>Corraló</key>
		<string>crral</string>
		<key>Corredor</key>
		<string>cdor.</string>
		<key>Corriol</key>
		<string>crol.</string>
		<key>Costa (via amb pendent)</key>
		<string>cos.</string>
		<key>Disseminat</key>
		<string>disse</string>
		<key>Drecera</key>
		<string>drec.</string>
		<key>Eix</key>
		<string>eix</string>
		<key>Enllaç</key>
		<string>ellaç</string>
		<key>Escala (via amb escales)</key>
		<string>esc.</string>
		<key>Esplanada</key>
		<string>esp.</string>
		<key>Finca</key>
		<string>fin.</string>
		<key>Glorieta</key>
		<string>glor.</string>
		<key>Gran Via</key>
		<string>gv</string>
		<key>Grup</key>
		<string>gr.</string>
		<key>Illa</key>
		<string>illa</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>est</key>
		<string>E</string>
		<key>nord</key>
		<string>N</string>
		<key>nordest</key>
		<string>NE</string>
		<key>nordoest</key>
		<string>NO</string>
		<key>oest</key>
		<string>O</string>
		<key>sud</key>
		<string>S</string>
		<key>sudest</key>
		<string>SE</string>
		<key>sudoest</key>
		<string>SO</string>
	</dict>
</dict>
</plist>
