<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>allée</key>
		<string>All</string>
		<key>aérodrome</key>
		<string>Aérod</string>
		<key>aéroport</key>
		<string>Aérop</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>adjudant</key>
		<string>Adj.</string>
		<key>administratif</key>
		<string>Admin.</string>
		<key>administratifs</key>
		<string>Admin.</string>
		<key>administration</key>
		<string>Admin.</string>
		<key>administrations</key>
		<string>Admin.</string>
		<key>administrative</key>
		<string>Admin.</string>
		<key>administratives</key>
		<string>Admin.</string>
		<key>africain</key>
		<string>Afric.</string>
		<key>africaine</key>
		<string>Afric.</string>
		<key>africaines</key>
		<string>Afric.</string>
		<key>africains</key>
		<string>Afric.</string>
		<key>agricole</key>
		<string>Agric.</string>
		<key>agricoles</key>
		<string>Agric.</string>
		<key>agriculteur</key>
		<string>Agric.</string>
		<key>agriculteurs</key>
		<string>Agric.</string>
		<key>agriculture</key>
		<string>Agric.</string>
		<key>agronome</key>
		<string>Agro.</string>
		<key>agronomes</key>
		<string>Agro.</string>
		<key>agronomie</key>
		<string>Agro.</string>
		<key>agronomique</key>
		<string>Agro.</string>
		<key>agronomiques</key>
		<string>Agro.</string>
		<key>alpin</key>
		<string>Alp.</string>
		<key>alpine</key>
		<string>Alp.</string>
		<key>alpines</key>
		<string>Alp.</string>
		<key>alpins</key>
		<string>Alp.</string>
		<key>ambassade</key>
		<string>Amb.</string>
		<key>amiral</key>
		<string>Amir.</string>
		<key>amiraux</key>
		<string>Amir.</string>
		<key>américain</key>
		<string>Amér.</string>
		<key>américaine</key>
		<string>Amér.</string>
		<key>américaines</key>
		<string>Amér.</string>
		<key>américains</key>
		<string>Amér.</string>
		<key>animation</key>
		<string>Anim.</string>
		<key>animé</key>
		<string>Anim.</string>
		<key>anonyme</key>
		<string>Anon.</string>
		<key>antenne</key>
		<string>Ant.</string>
		<key>apostolique</key>
		<string>Apost.</string>
		<key>après</key>
		<string>apr.</string>
		<key>après-midi</key>
		<string>a.-m.</string>
		<key>archevêque</key>
		<string>Archev.</string>
		<key>archiduc</key>
		<string>Archid.</string>
		<key>archiduchesse</key>
		<string>Archid.</string>
		<key>archipel</key>
		<string>Archip.</string>
		<key>archives</key>
		<string>Arch.</string>
		<key>archéologie</key>
		<string>Archéo.</string>
		<key>archéologique</key>
		<string>Archéo.</string>
		<key>arrondissement</key>
		<string>Arrond.</string>
		<key>arrêt</key>
		<string>Arr.</string>
		<key>asiatique</key>
		<string>Asiat.</string>
		<key>asiatiques</key>
		<string>Asiat.</string>
		<key>associatif</key>
		<string>Assoc.</string>
		<key>association</key>
		<string>Assoc.</string>
		<key>associative</key>
		<string>Assoc.</string>
		<key>associé</key>
		<string>Assoc.</string>
		<key>associés</key>
		<string>Assoc.</string>
		<key>avant</key>
		<string>av.</string>
		<key>aviateur</key>
		<string>Aviat.</string>
		<key>aviateurs</key>
		<string>Aviat.</string>
		<key>aviation</key>
		<string>Aviat.</string>
		<key>aviatrice</key>
		<string>Aviat.</string>
		<key>aviatrices</key>
		<string>Aviat.</string>
		<key>avril</key>
		<string>Avr.</string>
		<key>banque</key>
		<string>Bq</string>
		<key>barrage</key>
		<string>Barr.</string>
		<key>basse</key>
		<string>Bas.</string>
		<key>basses</key>
		<string>Bas.</string>
		<key>bibliothèque</key>
		<string>Biblio.</string>
		<key>boucher</key>
		<string>Bouch.</string>
		<key>boucherie</key>
		<string>Bouch.</string>
		<key>bâtiment</key>
		<string>Bât.</string>
		<key>café</key>
		<string>Cfé</string>
		<key>cafés</key>
		<string>Cfés</string>
		<key>cafétéria</key>
		<string>Cafét.</string>
		<key>cafétérias</key>
		<string>Cafét.</string>
		<key>camping</key>
		<string>Camp.</string>
		<key>campings</key>
		<string>Camp.</string>
		<key>caporal</key>
		<string>Capo.</string>
		<key>catholique</key>
		<string>Cathol.</string>
		<key>catholiques</key>
		<string>Cathol.</string>
		<key>cathédrale</key>
		<string>Cathéd.</string>
		<key>catégorie</key>
		<string>Catég.</string>
		<key>central</key>
		<string>Ctral</string>
		<key>centrale</key>
		<string>Ctrale</string>
		<key>centrales</key>
		<string>Ctrales</string>
		<key>centre</key>
		<string>Ctre</string>
		<key>centre d'enseignement du second degré</key>
		<string>CES</string>
		<key>centre hospitalier régional</key>
		<string>CHR</string>
		<key>centre hospitalier universitaire</key>
		<string>CHU</string>
		<key>centres</key>
		<string>Ctres</string>
		<key>chapelle</key>
		<string>Chap.</string>
		<key>chapelles</key>
		<string>Chap.</string>
		<key>charcuterie</key>
		<string>Charc.</string>
		<key>charcutier</key>
		<string>Charc.</string>
		<key>château</key>
		<string>Chât.</string>
		<key>châteaux</key>
		<string>Chât.</string>
		<key>cimetière</key>
		<string>Cim.</string>
		<key>cimetières</key>
		<string>Cim.</string>
		<key>cinéma</key>
		<string>Ciné</string>
		<key>cinémas</key>
		<string>Cinés</string>
		<key>civil</key>
		<string>Civ.</string>
		<key>civile</key>
		<string>Civ.</string>
		<key>civiles</key>
		<string>Civ.</string>
		<key>civils</key>
		<string>Civ.</string>
		<key>clinique</key>
		<string>Clin.</string>
		<key>cliniques</key>
		<string>Clin.</string>
		<key>collège</key>
		<string>Coll.</string>
		<key>collèges</key>
		<string>Coll.</string>
		<key>colonel</key>
		<string>Col.</string>
		<key>commerce</key>
		<string>Commerc.</string>
		<key>commerces</key>
		<string>Commerc.</string>
		<key>commercial</key>
		<string>Commerc.</string>
		<key>commerciale</key>
		<string>Commerc.</string>
		<key>commerciales</key>
		<string>Commerc.</string>
		<key>commerciaux</key>
		<string>Commerc.</string>
		<key>commerçant</key>
		<string>Commerç.</string>
		<key>commerçante</key>
		<string>Commerç.</string>
		<key>commerçants</key>
		<string>Commerç.</string>
		<key>communal</key>
		<string>Commun.</string>
		<key>communale</key>
		<string>Commun.</string>
		<key>communauté</key>
		<string>Commté</string>
		<key>communautés</key>
		<string>Commtés</string>
		<key>commune</key>
		<string>Commun.</string>
		<key>comte</key>
		<string>Cte</string>
		<key>comté</key>
		<string>Cté</string>
		<key>comtés</key>
		<string>Ctés</string>
		<key>confédéral</key>
		<string>Conféd.</string>
		<key>confédérale</key>
		<string>Conféd.</string>
		<key>confédération</key>
		<string>Conféd.</string>
		<key>conférence</key>
		<string>Confér.</string>
		<key>conférences</key>
		<string>Confér.</string>
		<key>congrégation</key>
		<string>Congrég.</string>
		<key>congrégations</key>
		<string>Congrég.</string>
		<key>consulat</key>
		<string>Consul.</string>
		<key>coopératif</key>
		<string>Coop.</string>
		<key>coopérative</key>
		<string>Coop.</string>
		<key>croix</key>
		<string>Cx</string>
		<key>crédit</key>
		<string>Créd.</string>
		<key>culturel</key>
		<string>Cult.</string>
		<key>culturelle</key>
		<string>Cult.</string>
		<key>dans</key>
		<string>d/</string>
		<key>deux mil</key>
		<string>2000</string>
		<key>deuxième</key>
		<string>2e</string>
		<key>dimanche</key>
		<string>di.</string>
		<key>directeur</key>
		<string>Dir.</string>
		<key>directeurs</key>
		<string>Dir.</string>
		<key>direction</key>
		<string>Dir.</string>
		<key>directions</key>
		<string>Dir.</string>
		<key>directrice</key>
		<string>Dir.</string>
		<key>directrices</key>
		<string>Dir.</string>
		<key>district</key>
		<string>Distr.</string>
		<key>districts</key>
		<string>Distr.</string>
		<key>docteur</key>
		<string>Dr</string>
		<key>docteurs</key>
		<string>Drs</string>
		<key>doyen</key>
		<string>Doy.</string>
		<key>doyens</key>
		<string>Doy.</string>
		<key>décembre</key>
		<string>Déc.</string>
		<key>démocratique</key>
		<string>Dém.</string>
		<key>département</key>
		<string>Dépt</string>
		<key>départemental</key>
		<string>Dépt</string>
		<key>départementale</key>
		<string>Dépt</string>
		<key>départementales</key>
		<string>Dépt</string>
		<key>départementaux</key>
		<string>Dépt</string>
		<key>développement</key>
		<string>Dévelop.</string>
		<key>développé</key>
		<string>Dévelop.</string>
		<key>enseignement</key>
		<string>Enseign.</string>
		<key>européen</key>
		<string>Eur.</string>
		<key>européenne</key>
		<string>Eur.</string>
		<key>européennes</key>
		<string>Eur.</string>
		<key>européens</key>
		<string>Eur.</string>
		<key>exploitant</key>
		<string>Exploit.</string>
		<key>exploitants</key>
		<string>Exploit.</string>
		<key>exploitation</key>
		<string>Exploit.</string>
		<key>faculté</key>
		<string>Fac.</string>
		<key>ferroviaire</key>
		<string>Ferr.</string>
		<key>ferré</key>
		<string>Ferr.</string>
		<key>ferrée</key>
		<string>Ferr.</string>
		<key>fleuve</key>
		<string>Flv</string>
		<key>fluvial</key>
		<string>Flv</string>
		<key>fluviale</key>
		<string>Flv</string>
		<key>fluviales</key>
		<string>Flv</string>
		<key>fluviaux</key>
		<string>Flv</string>
		<key>fondateur</key>
		<string>Fond.</string>
		<key>fondateurs</key>
		<string>Fond.</string>
		<key>fondation</key>
		<string>Fond.</string>
		<key>fondatrice</key>
		<string>Fond.</string>
		<key>fondatrices</key>
		<string>Fond.</string>
		<key>football</key>
		<string>Foot</string>
		<key>forestier</key>
		<string>Forest.</string>
		<key>forestière</key>
		<string>Forest.</string>
		<key>fédéral</key>
		<string>Féd.</string>
		<key>fédérale</key>
		<string>Féd.</string>
		<key>fédération</key>
		<string>Féd.</string>
		<key>février</key>
		<string>Févr.</string>
		<key>global</key>
		<string>Glob.</string>
		<key>globale</key>
		<string>Glob.</string>
		<key>globales</key>
		<string>Glob.</string>
		<key>globaux</key>
		<string>Glob.</string>
		<key>grand</key>
		<string>Gd</string>
		<key>grande</key>
		<string>Gde</string>
		<key>grandes</key>
		<string>Gdes</string>
		<key>grands</key>
		<string>Gds</string>
		<key>général</key>
		<string>Gal</string>
		<key>générale</key>
		<string>Gale</string>
		<key>généraux</key>
		<string>Gaux</string>
		<key>haut</key>
		<string>Ht</string>
		<key>haute</key>
		<string>Hte</string>
		<key>hautes</key>
		<string>Htes</string>
		<key>hauts</key>
		<string>Hts</string>
		<key>historique</key>
		<string>Hist.</string>
		<key>historiques</key>
		<string>Hist.</string>
		<key>hospice</key>
		<string>Hosp.</string>
		<key>hospices</key>
		<string>Hosp.</string>
		<key>hospitalier</key>
		<string>Hosp.</string>
		<key>hélicoptère</key>
		<string>hélico</string>
		<key>hélicoptères</key>
		<string>hélicos</string>
		<key>hôpital</key>
		<string>Hôp.</string>
		<key>hôtel</key>
		<string>Hôt.</string>
		<key>hôtel-restaurant</key>
		<string>Hôt.-Rest.</string>
		<key>hôtels</key>
		<string>Hôt.</string>
		<key>hôtels-restaurants</key>
		<string>Hôt.-Rest.</string>
		<key>ier</key>
		<string>1er</string>
		<key>ii</key>
		<string>2</string>
		<key>iie</key>
		<string>2e</string>
		<key>iii</key>
		<string>3</string>
		<key>iiie</key>
		<string>3e</string>
		<key>immeuble</key>
		<string>Imm.</string>
		<key>industriel</key>
		<string>Ind.</string>
		<key>industrielle</key>
		<string>Ind.</string>
		<key>infanterie</key>
		<string>Infant.</string>
		<key>infirmerie</key>
		<string>Infirm.</string>
		<key>infirmier</key>
		<string>Infirm.</string>
		<key>infirmiers</key>
		<string>Infirm.</string>
		<key>infirmière</key>
		<string>Infirm.</string>
		<key>infirmières</key>
		<string>Infirm.</string>
		<key>information</key>
		<string>Info.</string>
		<key>informations</key>
		<string>Infos</string>
		<key>international</key>
		<string>Int.</string>
		<key>internationale</key>
		<string>Int.</string>
		<key>ire</key>
		<string>1re</string>
		<key>iv</key>
		<string>4</string>
		<key>ive</key>
		<string>4e</string>
		<key>ix</key>
		<string>9</string>
		<key>ixe</key>
		<string>9e</string>
		<key>janvier</key>
		<string>Janv.</string>
		<key>jardin</key>
		<string>Jard.</string>
		<key>jeudi</key>
		<string>je.</string>
		<key>juillet</key>
		<string>Juil.</string>
		<key>junior</key>
		<string>Jr</string>
		<key>jésus-christ</key>
		<string>J.-C.</string>
		<key>lieutenant</key>
		<string>Lieut.</string>
		<key>lieutenant-colonel</key>
		<string>Lieut.-Col.</string>
		<key>lundi</key>
		<string>lu.</string>
		<key>lycée</key>
		<string>Lyc.</string>
		<key>lycée d'enseignement professionnel</key>
		<string>LEP</string>
		<key>madame</key>
		<string>Mme</string>
		<key>mademoiselle</key>
		<string>Mle</string>
		<key>maire</key>
		<string>Mair.</string>
		<key>mairie</key>
		<string>Mair.</string>
		<key>majeur</key>
		<string>Maj.</string>
		<key>majeure</key>
		<string>Maj.</string>
		<key>majeures</key>
		<string>Maj.</string>
		<key>majeurs</key>
		<string>Maj.</string>
		<key>major</key>
		<string>Mjr</string>
		<key>mardi</key>
		<string>ma.</string>
		<key>maritime</key>
		<string>Marit.</string>
		<key>maritimes</key>
		<string>Marit.</string>
		<key>maréchal</key>
		<string>Mal</string>
		<key>maternelle</key>
		<string>Matern.</string>
		<key>matin</key>
		<string>mat.</string>
		<key>mercredi</key>
		<string>me.</string>
		<key>messieurs</key>
		<string>MM</string>
		<key>militaire</key>
		<string>Milit.</string>
		<key>militaires</key>
		<string>Milit.</string>
		<key>millénaire</key>
		<string>Mill.</string>
		<key>millénaires</key>
		<string>Mill.</string>
		<key>mineur</key>
		<string>Min.</string>
		<key>mineure</key>
		<string>Min.</string>
		<key>mineures</key>
		<string>Min.</string>
		<key>mineurs</key>
		<string>Min.</string>
		<key>ministère</key>
		<string>Min.</string>
		<key>mondial</key>
		<string>Mond.</string>
		<key>mondiale</key>
		<string>Mond.</string>
		<key>mondiales</key>
		<string>Mond.</string>
		<key>mondiaux</key>
		<string>Mond.</string>
		<key>monseigneur</key>
		<string>Mgr</string>
		<key>monsieur</key>
		<string>M.</string>
		<key>monument</key>
		<string>Mmt</string>
		<key>monuments</key>
		<string>Mmts</string>
		<key>mosquée</key>
		<string>Mosq.</string>
		<key>moyen</key>
		<string>Moy.</string>
		<key>moyenne</key>
		<string>Moy.</string>
		<key>moyennes</key>
		<string>Moy.</string>
		<key>moyens</key>
		<string>Moy.</string>
		<key>municipal</key>
		<string>Munic.</string>
		<key>municipale</key>
		<string>Munic.</string>
		<key>municipales</key>
		<string>Munic.</string>
		<key>municipalité</key>
		<string>Munic.</string>
		<key>municipaux</key>
		<string>Munic.</string>
		<key>musical</key>
		<string>Music.</string>
		<key>musicale</key>
		<string>Music.</string>
		<key>musicien</key>
		<string>Music.</string>
		<key>musicienne</key>
		<string>Music.</string>
		<key>musique</key>
		<string>Musiq.</string>
		<key>musée</key>
		<string>Msée</string>
		<key>médecin</key>
		<string>Méd.</string>
		<key>médical</key>
		<string>Méd.</string>
		<key>médicale</key>
		<string>Méd.</string>
		<key>médicales</key>
		<string>Méd.</string>
		<key>médicaux</key>
		<string>Méd.</string>
		<key>mémorial</key>
		<string>Mémor.</string>
		<key>métro</key>
		<string>Mº</string>
		<key>métropolitain</key>
		<string>Métrop.</string>
		<key>métropolitaine</key>
		<string>Métrop.</string>
		<key>métros</key>
		<string>Mº</string>
		<key>national</key>
		<string>Nal</string>
		<key>nationale</key>
		<string>Nale</string>
		<key>nationales</key>
		<string>Nales</string>
		<key>naturel</key>
		<string>Natur.</string>
		<key>nautique</key>
		<string>Naut.</string>
		<key>naval</key>
		<string>Nav.</string>
		<key>navale</key>
		<string>Nav.</string>
		<key>navigable</key>
		<string>Navig.</string>
		<key>navigation</key>
		<string>Navig.</string>
		<key>notre-dame</key>
		<string>ND</string>
		<key>novembre</key>
		<string>Nov.</string>
		<key>numéro</key>
		<string>Nº</string>
		<key>numéros</key>
		<string>Nºˢ</string>
		<key>occidental</key>
		<string>Occ.</string>
		<key>occidentale</key>
		<string>Occ.</string>
		<key>occidentales</key>
		<string>Occ.</string>
		<key>occidentaux</key>
		<string>Occ.</string>
		<key>octobre</key>
		<string>Oct.</string>
		<key>ophtalmologie</key>
		<string>Ophtalm.</string>
		<key>ophtalmologue</key>
		<string>Ophtalmo</string>
		<key>ophtalmologues</key>
		<string>Ophtalmos</string>
		<key>oriental</key>
		<string>Ori.</string>
		<key>orientale</key>
		<string>Ori.</string>
		<key>orientales</key>
		<string>Ori.</string>
		<key>orientaux</key>
		<string>Ori.</string>
		<key>palais</key>
		<string>Pal.</string>
		<key>parachutiste</key>
		<string>Para.</string>
		<key>parachutistes</key>
		<string>Para.</string>
		<key>petit</key>
		<string>Pet.</string>
		<key>petite</key>
		<string>Pet.</string>
		<key>petites</key>
		<string>Pet.</string>
		<key>petits</key>
		<string>Pet.</string>
		<key>pharmacie</key>
		<string>Pharm.</string>
		<key>pharmacien</key>
		<string>Pharm.</string>
		<key>pharmacienne</key>
		<string>Pharm.</string>
		<key>piscine</key>
		<string>Pisc.</string>
		<key>pompier</key>
		<string>Pomp.</string>
		<key>pompiers</key>
		<string>Pomp.</string>
		<key>pontifical</key>
		<string>Pontif.</string>
		<key>pontificale</key>
		<string>Pontif.</string>
		<key>pontificales</key>
		<string>Pontif.</string>
		<key>pontificaux</key>
		<string>Pontif.</string>
		<key>populaire</key>
		<string>Pop.</string>
		<key>portuaire</key>
		<string>Port.</string>
		<key>postal</key>
		<string>Post.</string>
		<key>postale</key>
		<string>Post.</string>
		<key>postaux</key>
		<string>Post.</string>
		<key>poste</key>
		<string>Post.</string>
		<key>premier</key>
		<string>1er</string>
		<key>premiers</key>
		<string>1ers</string>
		<key>première</key>
		<string>1re</string>
		<key>primaire</key>
		<string>Prim.</string>
		<key>primaires</key>
		<string>Prim.</string>
		<key>prince</key>
		<string>Pce</string>
		<key>princesse</key>
		<string>Pse</string>
		<key>privé</key>
		<string>Priv.</string>
		<key>privée</key>
		<string>Priv.</string>
		<key>professeur</key>
		<string>Prof.</string>
		<key>professionnel</key>
		<string>Profess.</string>
		<key>professionnelle</key>
		<string>Profess.</string>
		<key>protection</key>
		<string>Prot.</string>
		<key>protégé</key>
		<string>Prot.</string>
		<key>protégée</key>
		<string>Prot.</string>
		<key>protégées</key>
		<string>Prot.</string>
		<key>protégés</key>
		<string>Prot.</string>
		<key>provence-alpes-côte d'azur</key>
		<string>PACA</string>
		<key>province</key>
		<string>Prov.</string>
		<key>provincial</key>
		<string>Prov.</string>
		<key>provinciale</key>
		<string>Prov.</string>
		<key>préfectoral</key>
		<string>Préf.</string>
		<key>préfectorale</key>
		<string>Préf.</string>
		<key>préfecture</key>
		<string>Préf.</string>
		<key>préfet</key>
		<string>Préf.</string>
		<key>président</key>
		<string>Pdt</string>
		<key>présidente</key>
		<string>Pdte</string>
		<key>présidentes</key>
		<string>Pdtes</string>
		<key>présidentiel</key>
		<string>Pdtl</string>
		<key>présidentielle</key>
		<string>Pdtle</string>
		<key>présidents</key>
		<string>Pdts</string>
		<key>public</key>
		<string>Publ.</string>
		<key>publique</key>
		<string>Publ.</string>
		<key>pâtissier</key>
		<string>Pâtiss.</string>
		<key>restaurant</key>
		<string>Restau.</string>
		<key>rivière</key>
		<string>Riv.</string>
		<key>routière</key>
		<string>Rout.</string>
		<key>rural</key>
		<string>Rur.</string>
		<key>rurale</key>
		<string>Rur.</string>
		<key>régiment</key>
		<string>Régim.</string>
		<key>région</key>
		<string>Rég.</string>
		<key>régional</key>
		<string>Rég.</string>
		<key>régionale</key>
		<string>Rég.</string>
		<key>républicain</key>
		<string>Républ.</string>
		<key>républicaine</key>
		<string>Républ.</string>
		<key>république</key>
		<string>Rép.</string>
		<key>résidentiel</key>
		<string>Résid.</string>
		<key>résidentielle</key>
		<string>Résid.</string>
		<key>sa majesté</key>
		<string>S.Maj.</string>
		<key>saint</key>
		<string>St</string>
		<key>sainte</key>
		<string>Ste</string>
		<key>saints</key>
		<string>Sts</string>
		<key>samedi</key>
		<string>sa.</string>
		<key>sapeur</key>
		<string>Sap.</string>
		<key>sapeur-pompier</key>
		<string>Sap.-pomp.</string>
		<key>sapeur-pompiers</key>
		<string>Sap.-pomp.</string>
		<key>sapeurs</key>
		<string>Sap.</string>
		<key>scolaire</key>
		<string>Scol.</string>
		<key>secondaire</key>
		<string>Second.</string>
		<key>secondaires</key>
		<string>Second.</string>
		<key>senior</key>
		<string>Sr</string>
		<key>septembre</key>
		<string>Sept.</string>
		<key>sergent</key>
		<string>Sgt</string>
		<key>service</key>
		<string>Sce</string>
		<key>siècle</key>
		<string>Si.</string>
		<key>social</key>
		<string>Soc.</string>
		<key>sociale</key>
		<string>Soc.</string>
		<key>société</key>
		<string>Sté</string>
		<key>société anonyme</key>
		<string>SA</string>
		<key>société anonyme à responsabilité limitée</key>
		<string>SARL</string>
		<key>société nationale</key>
		<string>SN</string>
		<key>sociétés</key>
		<string>Stés</string>
		<key>son altesse</key>
		<string>S.Alt.</string>
		<key>son altesse royale</key>
		<string>S.A.R.</string>
		<key>sous</key>
		<string>s/s</string>
		<key>sous-préfecture</key>
		<string>Ss-préf.</string>
		<key>sous-préfet</key>
		<string>Ss-préf.</string>
		<key>spectacle</key>
		<string>Spect.</string>
		<key>spectacles</key>
		<string>Spect.</string>
		<key>sportif</key>
		<string>Sport.</string>
		<key>sportive</key>
		<string>Sport.</string>
		<key>spécial</key>
		<string>Spéc.</string>
		<key>spéciale</key>
		<string>Spéc.</string>
		<key>spéciales</key>
		<string>Spéc.</string>
		<key>spécialisé</key>
		<string>Spéc.</string>
		<key>spécialisée</key>
		<string>Spéc.</string>
		<key>spéciaux</key>
		<string>Spéc.</string>
		<key>stade</key>
		<string>Std</string>
		<key>supérieur</key>
		<string>Sup.</string>
		<key>supérieure</key>
		<string>Sup.</string>
		<key>supérieures</key>
		<string>Sup.</string>
		<key>supérieurs</key>
		<string>Sup.</string>
		<key>sur</key>
		<string>/</string>
		<key>syndicat</key>
		<string>Synd.</string>
		<key>syndicats</key>
		<string>Synd.</string>
		<key>technique</key>
		<string>Tech.</string>
		<key>techniques</key>
		<string>Tech.</string>
		<key>technologie</key>
		<string>Techno.</string>
		<key>technologies</key>
		<string>Techno.</string>
		<key>technologique</key>
		<string>Techno.</string>
		<key>technologiques</key>
		<string>Techno.</string>
		<key>temple</key>
		<string>Tple</string>
		<key>terrain</key>
		<string>Terr.</string>
		<key>territoire</key>
		<string>Territ.</string>
		<key>territorial</key>
		<string>Territ.</string>
		<key>territoriale</key>
		<string>Territ.</string>
		<key>tertiaire</key>
		<string>Terti.</string>
		<key>tertiaires</key>
		<string>Terti.</string>
		<key>théâtral</key>
		<string>Thé.</string>
		<key>théâtrale</key>
		<string>Thé.</string>
		<key>théâtre</key>
		<string>Thé.</string>
		<key>trafic</key>
		<string>Traf.</string>
		<key>traversière</key>
		<string>Traver.</string>
		<key>troisième</key>
		<string>3e</string>
		<key>union</key>
		<string>U.</string>
		<key>unité</key>
		<string>U.</string>
		<key>universel</key>
		<string>Univ.</string>
		<key>universelle</key>
		<string>Univ.</string>
		<key>universitaire</key>
		<string>Univ.</string>
		<key>université</key>
		<string>Univ.</string>
		<key>urbain</key>
		<string>Urb.</string>
		<key>urbaine</key>
		<string>Urb.</string>
		<key>urbaines</key>
		<string>Urb.</string>
		<key>urbains</key>
		<string>Urb.</string>
		<key>urbanisme</key>
		<string>Urb.</string>
		<key>v</key>
		<string>5</string>
		<key>ve</key>
		<string>5e</string>
		<key>vendredi</key>
		<string>ve.</string>
		<key>vers</key>
		<string>v/</string>
		<key>vi</key>
		<string>6</string>
		<key>vie</key>
		<string>6e</string>
		<key>vii</key>
		<string>7</string>
		<key>viie</key>
		<string>7e</string>
		<key>viii</key>
		<string>8</string>
		<key>viiie</key>
		<string>8e</string>
		<key>viticole</key>
		<string>Vitic.</string>
		<key>viticoles</key>
		<string>Vitic.</string>
		<key>viticulteur</key>
		<string>Vitic.</string>
		<key>viticulteurs</key>
		<string>Vitic.</string>
		<key>viticulture</key>
		<string>Vitic.</string>
		<key>vétérinaire</key>
		<string>Vét.</string>
		<key>vétérinaires</key>
		<string>Vét.</string>
		<key>x</key>
		<string>10</string>
		<key>xe</key>
		<string>10e</string>
		<key>xi</key>
		<string>11</string>
		<key>xie</key>
		<string>11e</string>
		<key>xii</key>
		<string>12</string>
		<key>xiie</key>
		<string>12e</string>
		<key>xiii</key>
		<string>13</string>
		<key>xiiie</key>
		<string>13e</string>
		<key>xiv</key>
		<string>14</string>
		<key>xive</key>
		<string>14e</string>
		<key>xix</key>
		<string>19</string>
		<key>xixe</key>
		<string>19e</string>
		<key>xv</key>
		<string>15</string>
		<key>xve</key>
		<string>15e</string>
		<key>xvi</key>
		<string>17</string>
		<key>xvie</key>
		<string>17e</string>
		<key>xvii</key>
		<string>18</string>
		<key>xviie</key>
		<string>18e</string>
		<key>xx</key>
		<string>20</string>
		<key>xxe</key>
		<string>20e</string>
		<key>xxi</key>
		<string>21</string>
		<key>xxie</key>
		<string>21e</string>
		<key>xxii</key>
		<string>22</string>
		<key>xxiii</key>
		<string>23</string>
		<key>zone</key>
		<string>zon.</string>
		<key>école</key>
		<string>Éc.</string>
		<key>écoles</key>
		<string>Éc.</string>
		<key>église</key>
		<string>Égl.</string>
		<key>églises</key>
		<string>Égl.</string>
		<key>électrique</key>
		<string>Électr.</string>
		<key>électriques</key>
		<string>Électr.</string>
		<key>élém</key>
		<string>Élém.</string>
		<key>établissement</key>
		<string>Étabt</string>
		<key>établissements</key>
		<string>Étabts</string>
		<key>étage</key>
		<string>ét.</string>
		<key>étang</key>
		<string>Étg</string>
		<key>état</key>
		<string>É.</string>
		<key>états</key>
		<string>É.</string>
		<key>île-de-france</key>
		<string>IDF</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>est</key>
		<string>E</string>
		<key>est-nord-est</key>
		<string>ENE</string>
		<key>est-sud-est</key>
		<string>ESE</string>
		<key>nord</key>
		<string>N</string>
		<key>nord-est</key>
		<string>NE</string>
		<key>nord-nord-est</key>
		<string>NNE</string>
		<key>nord-nord-ouest</key>
		<string>NNO</string>
		<key>nord-ouest</key>
		<string>NO</string>
		<key>ouest</key>
		<string>O</string>
		<key>ouest-nord-ouest</key>
		<string>ONO</string>
		<key>ouest-sud-ouest</key>
		<string>OSO</string>
		<key>sud</key>
		<string>S</string>
		<key>sud-est</key>
		<string>SE</string>
		<key>sud-ouest</key>
		<string>SO</string>
		<key>sud-sud-est</key>
		<string>SSE</string>
		<key>sud-sud-ouest</key>
		<string>SSO</string>
	</dict>
</dict>
</plist>
