<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>abbreviations</key>
    <string>&quot;aérodrome&quot;, &quot;Aérod&quot;
&quot;aéroport&quot;, &quot;Aérop&quot;
&quot;allée&quot;, &quot;All&quot;
&quot;appartements, &quot;Apt&quot;
&quot;appartements&quot;, &quot;Apts&quot;
&quot;autoroute&quot;, &quot;A&quot;
&quot;avenue&quot;, &quot;Av&quot;
&quot;base&quot;, &quot;Bse&quot;
&quot;boulevard&quot;, &quot;Bd&quot;
&quot;bourg&quot;, &quot;Bg&quot;
&quot;canal&quot;, &quot;Cnl&quot;
&quot;carrefour&quot;, &quot;Carr&quot;
&quot;centre&quot;, &quot;Ctre&quot;
&quot;centre commercial&quot;, &quot;CCom&quot;
&quot;champ&quot;, &quot;Chmp&quot;
&quot;champs&quot;, &quot;Chmps&quot;
&quot;chemin&quot;, &quot;Chem.&quot;
&quot;chemin d&apos;exploitation&quot;, &quot;CE&quot;
&quot;chemin forestier&quot;, &quot;CF&quot;
&quot;chemin rural&quot;, &quot;CR&quot;
&quot;chemin vicinal&quot;, &quot;CV&quot;
&quot;cité&quot;, &quot;Cit&quot;
&quot;comté&quot;, &quot;Cté&quot;
&quot;contour&quot;, &quot;Cont&quot;
&quot;cour&quot;, &quot;Cr&quot;
&quot;déviation&quot;, &quot;Dévn&quot;
&quot;écluse&quot;, &quot;Écse&quot;
&quot;faubourg&quot;, &quot;Fbg&quot;
&quot;ferry&quot;, &quot;Fry&quot;
&quot;fort&quot;, &quot;Ft&quot;
&quot;hameau&quot;, &quot;Ham&quot;
&quot;impasse&quot;, &quot;Imp&quot;
&quot;lieu-dit&quot;, &quot;L-d&quot;
&quot;marché&quot;, &quot;Mcé&quot;
&quot;métro&quot;, &quot;Mº&quot;
&quot;mont&quot;, &quot;Mt&quot;
&quot;montagne&quot;, &quot;Mtgne&quot;
&quot;périphérique&quot;, &quot;Périph&quot;
&quot;parc&quot;, &quot;Pc&quot;
&quot;parking&quot;, &quot;Pkg&quot;
&quot;passage&quot;, &quot;Pge&quot;
&quot;piste&quot;, &quot;Pst&quot;
&quot;place&quot;, &quot;Pl&quot;
&quot;plage&quot;, &quot;Plg&quot;
&quot;plaine&quot;, &quot;Plne&quot;
&quot;point&quot;, &quot;Pt&quot;
&quot;pointe&quot;, &quot;Pnte&quot;
&quot;pont&quot;, &quot;Pnt&quot;
&quot;port&quot;, &quot;Prt&quot;
&quot;porte&quot;, &quot;Pte&quot;
&quot;quai&quot;, &quot;Qu&quot;
&quot;quartier&quot;, &quot;Quart&quot;
&quot;résidence&quot;, &quot;Résid&quot;
&quot;raccourci&quot;, &quot;Racc&quot;
&quot;rocade&quot;, &quot;Rde&quot;
&quot;rond-point&quot;, &quot;Rd-Pt&quot;
&quot;route&quot;, &quot;Rte&quot;
&quot;route communale&quot;, &quot;RC&quot;
&quot;route départementale&quot;, &quot;RD&quot;
&quot;route métropolitaine&quot;, &quot;RM&quot;
&quot;route nationale&quot;, &quot;RN&quot;
&quot;route territoriale&quot;, &quot;RT&quot;
&quot;rue&quot;, &quot;R&quot;
&quot;site&quot;, &quot;Sit&quot;
&quot;square&quot;, &quot;Sq&quot;
&quot;station&quot;, &quot;Sttn&quot;
&quot;terrasse&quot;, &quot;Tsse&quot;
&quot;tour&quot;, &quot;Tr&quot;
&quot;traverse&quot;, &quot;Trav&quot;
&quot;trottoir&quot;, &quot;Trot&quot;
&quot;tunnel&quot;, &quot;Tnl&quot;
&quot;venelle&quot;, &quot;Ven&quot;
&quot;village&quot;, &quot;Vlge&quot;
&quot;virage&quot;, &quot;Vir&quot;
&quot;voie&quot;, &quot;V&quot;
&quot;voie communale&quot;, &quot;VC&quot;
&quot;voie express&quot;, &quot;VExp&quot;
&quot;zone&quot;, &quot;Z&quot;
&quot;zone artisanale&quot;, &quot;ZA&quot;
&quot;zone d&apos;activité&quot;, &quot;ZA&quot;
&quot;zone d&apos;activités&quot;, &quot;ZA&quot;
&quot;zone d&apos;aménagement concerté&quot;, &quot;ZAC&quot;
&quot;zone industrielle&quot;, &quot;ZI&quot;
</string>
    <key>classifications</key>
    <string>&quot;agricole&quot;, &quot;Agr.&quot;
&quot;antenne&quot;, &quot;Ant.&quot;
&quot;arrêt&quot;, &quot;Arr.&quot;
&quot;avril&quot;, &quot;Avr.&quot;
&quot;bac&quot;, &quot;Bc&quot;
&quot;banque&quot;, &quot;Bq&quot;
&quot;basse&quot;, &quot;Bas.&quot;
&quot;bâtiment&quot;, &quot;Bât.&quot;
&quot;bibliothèque&quot;, &quot;Bibliot.&quot;
&quot;café&quot;, &quot;Caf.&quot;
&quot;catégorie&quot;, &quot;Catég.&quot;
&quot;cathédrale&quot;, &quot;Cathéd.&quot;
&quot;catholique&quot;, &quot;Cathol.&quot;
&quot;chapelle&quot;, &quot;Chapl&quot;
&quot;château&quot;, &quot;Chât.&quot;
&quot;cimetière&quot;, &quot;Cim.&quot;
&quot;cinéma&quot;, &quot;Ciné&quot;
&quot;collège&quot;, &quot;Coll.&quot;
&quot;commune&quot;, &quot;Commun.&quot;
&quot;communal&quot;, &quot;Commun.&quot;
&quot;communale&quot;, &quot;Commun.&quot;
&quot;commercial&quot;, &quot;Commerc.&quot;
&quot;commerciale&quot;, &quot;Commerc.&quot;
&quot;crédit&quot;, &quot;Créd.&quot;
&quot;décembre&quot;, &quot;Déc.&quot;
&quot;département&quot;, &quot;Dépt&quot;
&quot;départemental&quot;, &quot;Dépt&quot;
&quot;départementale&quot;, &quot;Dépt&quot;
&quot;développé&quot;, &quot;Dévelop.&quot;
&quot;développement&quot;, &quot;Dévelop.&quot;
&quot;docteur&quot;, &quot;Dr&quot;
&quot;docteurs&quot;, &quot;Drs&quot;
&quot;école&quot;, &quot;Éc.&quot;
&quot;église&quot;, &quot;Égl.&quot;
&quot;élém&quot;, &quot;Élém.&quot;
&quot;enseignement&quot;, &quot;Enseign.&quot;
&quot;établissement&quot;, &quot;Étab.&quot;
&quot;étage&quot;, &quot;Ét.&quot;
&quot;étang&quot;, &quot;Étg&quot;
&quot;ferré&quot;, &quot;Ferr.&quot;
&quot;ferrée&quot;, &quot;Ferr.&quot;
&quot;ferroviaire&quot;, &quot;Ferr.&quot;
&quot;février&quot;, &quot;Févr.&quot;
&quot;football&quot;, &quot;Foot&quot;
&quot;forestier&quot;, &quot;Forest.&quot;
&quot;forestière&quot;, &quot;Forest.&quot;
&quot;général&quot;, &quot;Gal&quot;
&quot;haut&quot;, &quot;Ht&quot;
&quot;haute&quot;, &quot;Hte&quot;
&quot;hautes&quot;, &quot;Htes&quot;
&quot;hauts&quot;, &quot;Hts&quot;
&quot;historique&quot;, &quot;Hist.&quot;
&quot;hôtel&quot;, &quot;Hôt.&quot;
&quot;immeuble&quot;, &quot;Imm.&quot;
&quot;industriel&quot;, &quot;Ind.&quot;
&quot;industrielle&quot;, &quot;Ind.&quot;
&quot;international&quot;, &quot;Int.&quot;
&quot;internationale&quot;, &quot;Int.&quot;
&quot;jardin&quot;, &quot;Jard.&quot;
&quot;janvier&quot;, &quot;Janv.&quot;
&quot;juillet&quot;, &quot;Juil.&quot;
&quot;junior&quot;, &quot;Jr&quot;
&quot;lycée&quot;, &quot;Lyc.&quot;
&quot;madame&quot;, &quot;Mme&quot;
&quot;mademoiselle&quot;, &quot;Mle&quot;
&quot;maréchal&quot;, &quot;Mal&quot;
&quot;maternelle&quot;, &quot;Matern.&quot;
&quot;mémorial&quot;, &quot;Mémor.&quot;
&quot;messieurs&quot;, &quot;MM&quot;
&quot;métropolitain&quot;, &quot;Métrop.&quot;
&quot;métropolitaine&quot;, &quot;Métrop.&quot;
&quot;ministère&quot;, &quot;Min.&quot;
&quot;monseigneur&quot;, &quot;Mgr&quot;
&quot;monsieur&quot;, &quot;M.&quot;
&quot;monument&quot;, &quot;Mmt&quot;
&quot;monuments&quot;, &quot;Mmts&quot;
&quot;municipal&quot;, &quot;Munic.&quot;
&quot;municipale&quot;, &quot;Munic.&quot;
&quot;municipalité&quot;, &quot;Munic.&quot;
&quot;musée&quot;, &quot;Msée&quot;
&quot;musique&quot;, &quot;Musiq.&quot;
&quot;musical&quot;, &quot;Music.&quot;
&quot;national&quot;, &quot;Nat.&quot;
&quot;nationale&quot;, &quot;Nat.&quot;
&quot;numéro&quot;, &quot;Nº&quot;
&quot;numéros&quot;, &quot;Nºˢ&quot;
&quot;naturel&quot;, &quot;Natur.&quot;
&quot;nautique&quot;, &quot;Naut.&quot;
&quot;naval&quot;, &quot;Nav.&quot;
&quot;navale&quot;, &quot;Nav.&quot;
&quot;novembre&quot;, &quot;Nov.&quot;
&quot;octobre&quot;, &quot;Oct.&quot;
&quot;piscine&quot;, &quot;Pisc.&quot;
&quot;populaire&quot;, &quot;Pop.&quot;
&quot;portuaire&quot;, &quot;Port.&quot;
&quot;poste&quot;, &quot;Post.&quot;
&quot;postal&quot;, &quot;Post.&quot;
&quot;postale&quot;, &quot;Post.&quot;
&quot;postaux&quot;, &quot;Post.&quot;
&quot;président&quot;, &quot;Pdt&quot;
&quot;présidentiel&quot;, &quot;Pdt&quot;
&quot;présidentielle&quot;, &quot;Pdt&quot;
&quot;primaire&quot;, &quot;Prim.&quot;
&quot;privé&quot;, &quot;Priv.&quot;
&quot;privée&quot;, &quot;Priv.&quot;
&quot;public&quot;, &quot;Publ.&quot;
&quot;publique&quot;, &quot;Publ.&quot;
&quot;régional&quot;, &quot;Rég.&quot;
&quot;régionale&quot;, &quot;Rég.&quot;
&quot;résidentiel&quot;, &quot;Résid.&quot;
&quot;résidentielle&quot;, &quot;Résid.&quot;
&quot;restaurant&quot;, &quot;Restau.&quot;
&quot;rivière&quot;, &quot;Riv.&quot;
&quot;routière&quot;, &quot;Rout.&quot;
&quot;senior&quot;, &quot;Sr&quot;
&quot;septembre&quot;, &quot;Sept.&quot;
&quot;saint&quot;, &quot;St&quot;
&quot;sainte&quot;, &quot;Ste&quot;
&quot;saints&quot;, &quot;Sts&quot;
&quot;secondaire&quot;, &quot;Second.&quot;
&quot;scolaire&quot;, &quot;Scol.&quot;
&quot;social&quot;, &quot;Soc.&quot;
&quot;sociale&quot;, &quot;Soc.&quot;
&quot;sportif&quot;, &quot;Sport.&quot;
&quot;sportive&quot;, &quot;Sport.&quot;
&quot;stade&quot;, &quot;Std&quot;
&quot;supérieur&quot;, &quot;Sup.&quot;
&quot;supérieure&quot;, &quot;Sup.&quot;
&quot;supérieures&quot;, &quot;Sup.&quot;
&quot;supérieurs&quot;, &quot;Sup.&quot;
&quot;terrain&quot;, &quot;Terr.&quot;
&quot;territorial&quot;, &quot;Territ.&quot;
&quot;territoriale&quot;, &quot;Territ.&quot;
&quot;territoire&quot;, &quot;Territ.&quot;
&quot;théâtre&quot;, &quot;Thé.&quot;
&quot;traversière&quot;, &quot;Traver.&quot;
&quot;université&quot;, &quot;Univ.&quot;
&quot;universitaire&quot;, &quot;Univ.&quot;
&quot;XXIII&quot;, &quot;23&quot;
</string>
    <key>directions</key>
    <string>&quot;est&quot;, &quot;E&quot;
&quot;est-nord-est&quot;, &quot;ENE&quot;
&quot;nord-est&quot;, &quot;NE&quot;
&quot;nord-nord-est&quot;, &quot;NNE&quot;
&quot;nord&quot;, &quot;N&quot;
&quot;nord-nord-ouest&quot;, &quot;NNO&quot;
&quot;nord-ouest&quot;, &quot;NO&quot;
&quot;ouest-nord-ouest&quot;, &quot;ONO&quot;
&quot;ouest&quot;, &quot;O&quot;
&quot;ouest-sud-ouest&quot;, &quot;OSO&quot;
&quot;sud-ouest&quot;, &quot;SO&quot;
&quot;sud-sud-ouest&quot;, &quot;SSO&quot;
&quot;sud&quot;, &quot;S&quot;
&quot;sud-sud-est&quot;, &quot;SSE&quot;
&quot;sud-est&quot;, &quot;SE&quot;
&quot;est-sud-est&quot;, &quot;ESE&quot;
</string>
  </dict>
</plist>
