<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>allée</key>
		<string>All</string>
		<key>aérodrome</key>
		<string>Aérod</string>
		<key>aéroport</key>
		<string>Aérop</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>XXIII</key>
		<string>23</string>
		<key>agricole</key>
		<string>Agr.</string>
		<key>antenne</key>
		<string>Ant.</string>
		<key>arrêt</key>
		<string>Arr.</string>
		<key>avril</key>
		<string>Avr.</string>
		<key>bac</key>
		<string>Bc</string>
		<key>banque</key>
		<string>Bq</string>
		<key>basse</key>
		<string>Bas.</string>
		<key>bibliothèque</key>
		<string>Bibliot.</string>
		<key>bâtiment</key>
		<string>Bât.</string>
		<key>café</key>
		<string>Caf.</string>
		<key>catholique</key>
		<string>Cathol.</string>
		<key>cathédrale</key>
		<string>Cathéd.</string>
		<key>catégorie</key>
		<string>Catég.</string>
		<key>chapelle</key>
		<string>Chapl</string>
		<key>château</key>
		<string>Chât.</string>
		<key>cimetière</key>
		<string>Cim.</string>
		<key>cinéma</key>
		<string>Ciné</string>
		<key>collège</key>
		<string>Coll.</string>
		<key>commercial</key>
		<string>Commerc.</string>
		<key>commerciale</key>
		<string>Commerc.</string>
		<key>communal</key>
		<string>Commun.</string>
		<key>communale</key>
		<string>Commun.</string>
		<key>commune</key>
		<string>Commun.</string>
		<key>crédit</key>
		<string>Créd.</string>
		<key>docteur</key>
		<string>Dr</string>
		<key>docteurs</key>
		<string>Drs</string>
		<key>décembre</key>
		<string>Déc.</string>
		<key>département</key>
		<string>Dépt</string>
		<key>départemental</key>
		<string>Dépt</string>
		<key>départementale</key>
		<string>Dépt</string>
		<key>développement</key>
		<string>Dévelop.</string>
		<key>développé</key>
		<string>Dévelop.</string>
		<key>enseignement</key>
		<string>Enseign.</string>
		<key>ferroviaire</key>
		<string>Ferr.</string>
		<key>ferré</key>
		<string>Ferr.</string>
		<key>ferrée</key>
		<string>Ferr.</string>
		<key>football</key>
		<string>Foot</string>
		<key>forestier</key>
		<string>Forest.</string>
		<key>forestière</key>
		<string>Forest.</string>
		<key>février</key>
		<string>Févr.</string>
		<key>général</key>
		<string>Gal</string>
		<key>haut</key>
		<string>Ht</string>
		<key>haute</key>
		<string>Hte</string>
		<key>hautes</key>
		<string>Htes</string>
		<key>hauts</key>
		<string>Hts</string>
		<key>historique</key>
		<string>Hist.</string>
		<key>hôtel</key>
		<string>Hôt.</string>
		<key>immeuble</key>
		<string>Imm.</string>
		<key>industriel</key>
		<string>Ind.</string>
		<key>industrielle</key>
		<string>Ind.</string>
		<key>international</key>
		<string>Int.</string>
		<key>internationale</key>
		<string>Int.</string>
		<key>janvier</key>
		<string>Janv.</string>
		<key>jardin</key>
		<string>Jard.</string>
		<key>juillet</key>
		<string>Juil.</string>
		<key>junior</key>
		<string>Jr</string>
		<key>lycée</key>
		<string>Lyc.</string>
		<key>madame</key>
		<string>Mme</string>
		<key>mademoiselle</key>
		<string>Mle</string>
		<key>maréchal</key>
		<string>Mal</string>
		<key>maternelle</key>
		<string>Matern.</string>
		<key>messieurs</key>
		<string>MM</string>
		<key>ministère</key>
		<string>Min.</string>
		<key>monseigneur</key>
		<string>Mgr</string>
		<key>monsieur</key>
		<string>M.</string>
		<key>monument</key>
		<string>Mmt</string>
		<key>monuments</key>
		<string>Mmts</string>
		<key>municipal</key>
		<string>Munic.</string>
		<key>municipale</key>
		<string>Munic.</string>
		<key>municipalité</key>
		<string>Munic.</string>
		<key>musical</key>
		<string>Music.</string>
		<key>musique</key>
		<string>Musiq.</string>
		<key>musée</key>
		<string>Msée</string>
		<key>mémorial</key>
		<string>Mémor.</string>
		<key>métropolitain</key>
		<string>Métrop.</string>
		<key>métropolitaine</key>
		<string>Métrop.</string>
		<key>national</key>
		<string>Nat.</string>
		<key>nationale</key>
		<string>Nat.</string>
		<key>naturel</key>
		<string>Natur.</string>
		<key>nautique</key>
		<string>Naut.</string>
		<key>naval</key>
		<string>Nav.</string>
		<key>navale</key>
		<string>Nav.</string>
		<key>novembre</key>
		<string>Nov.</string>
		<key>numéro</key>
		<string>Nº</string>
		<key>numéros</key>
		<string>Nºˢ</string>
		<key>octobre</key>
		<string>Oct.</string>
		<key>piscine</key>
		<string>Pisc.</string>
		<key>populaire</key>
		<string>Pop.</string>
		<key>portuaire</key>
		<string>Port.</string>
		<key>postal</key>
		<string>Post.</string>
		<key>postale</key>
		<string>Post.</string>
		<key>postaux</key>
		<string>Post.</string>
		<key>poste</key>
		<string>Post.</string>
		<key>primaire</key>
		<string>Prim.</string>
		<key>privé</key>
		<string>Priv.</string>
		<key>privée</key>
		<string>Priv.</string>
		<key>président</key>
		<string>Pdt</string>
		<key>présidentiel</key>
		<string>Pdt</string>
		<key>présidentielle</key>
		<string>Pdt</string>
		<key>public</key>
		<string>Publ.</string>
		<key>publique</key>
		<string>Publ.</string>
		<key>restaurant</key>
		<string>Restau.</string>
		<key>rivière</key>
		<string>Riv.</string>
		<key>routière</key>
		<string>Rout.</string>
		<key>régional</key>
		<string>Rég.</string>
		<key>régionale</key>
		<string>Rég.</string>
		<key>résidentiel</key>
		<string>Résid.</string>
		<key>résidentielle</key>
		<string>Résid.</string>
		<key>saint</key>
		<string>St</string>
		<key>sainte</key>
		<string>Ste</string>
		<key>saints</key>
		<string>Sts</string>
		<key>scolaire</key>
		<string>Scol.</string>
		<key>secondaire</key>
		<string>Second.</string>
		<key>senior</key>
		<string>Sr</string>
		<key>septembre</key>
		<string>Sept.</string>
		<key>social</key>
		<string>Soc.</string>
		<key>sociale</key>
		<string>Soc.</string>
		<key>sportif</key>
		<string>Sport.</string>
		<key>sportive</key>
		<string>Sport.</string>
		<key>stade</key>
		<string>Std</string>
		<key>supérieur</key>
		<string>Sup.</string>
		<key>supérieure</key>
		<string>Sup.</string>
		<key>supérieures</key>
		<string>Sup.</string>
		<key>supérieurs</key>
		<string>Sup.</string>
		<key>terrain</key>
		<string>Terr.</string>
		<key>territoire</key>
		<string>Territ.</string>
		<key>territorial</key>
		<string>Territ.</string>
		<key>territoriale</key>
		<string>Territ.</string>
		<key>théâtre</key>
		<string>Thé.</string>
		<key>traversière</key>
		<string>Traver.</string>
		<key>universitaire</key>
		<string>Univ.</string>
		<key>université</key>
		<string>Univ.</string>
		<key>école</key>
		<string>Éc.</string>
		<key>église</key>
		<string>Égl.</string>
		<key>élém</key>
		<string>Élém.</string>
		<key>établissement</key>
		<string>Étab.</string>
		<key>étage</key>
		<string>Ét.</string>
		<key>étang</key>
		<string>Étg</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>est</key>
		<string>E</string>
		<key>est-nord-est</key>
		<string>ENE</string>
		<key>est-sud-est</key>
		<string>ESE</string>
		<key>nord</key>
		<string>N</string>
		<key>nord-est</key>
		<string>NE</string>
		<key>nord-nord-est</key>
		<string>NNE</string>
		<key>nord-nord-ouest</key>
		<string>NNO</string>
		<key>nord-ouest</key>
		<string>NO</string>
		<key>ouest</key>
		<string>O</string>
		<key>ouest-nord-ouest</key>
		<string>ONO</string>
		<key>ouest-sud-ouest</key>
		<string>OSO</string>
		<key>sud</key>
		<string>S</string>
		<key>sud-est</key>
		<string>SE</string>
		<key>sud-ouest</key>
		<string>SO</string>
		<key>sud-sud-est</key>
		<string>SSE</string>
		<key>sud-sud-ouest</key>
		<string>SSO</string>
	</dict>
</dict>
</plist>
