<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>appartements</key>
		<string>apts</string>
		<key>avenue</key>
		<string>Av</string>
		<key>boulevard</key>
		<string>Bd</string>
		<key>bourg</key>
		<string>Bg</string>
		<key>carrefour</key>
		<string>Car</string>
		<key>centre</key>
		<string>Ctr</string>
		<key>cimetière</key>
		<string>Cim</string>
		<key>collège</key>
		<string>Coll</string>
		<key>docteur</key>
		<string>Dr</string>
		<key>fort</key>
		<string>Ft</string>
		<key>général</key>
		<string>Gal</string>
		<key>hauts</key>
		<string>Hts</string>
		<key>immeuble</key>
		<string>Imm</string>
		<key>international</key>
		<string>Int</string>
		<key>junior</key>
		<string>Jr</string>
		<key>lac</key>
		<string>Lc</string>
		<key>marché</key>
		<string>Mcé</string>
		<key>maréchal</key>
		<string>Mal</string>
		<key>monseigneur</key>
		<string>Mgr</string>
		<key>mont</key>
		<string>Mt</string>
		<key>montagne</key>
		<string>Mtg</string>
		<key>mémorial</key>
		<string>Mém</string>
		<key>national</key>
		<string>Nat</string>
		<key>parc</key>
		<string>Pc</string>
		<key>place</key>
		<string>Pl</string>
		<key>point</key>
		<string>Pt</string>
		<key>pointe</key>
		<string>Pnte</string>
		<key>pont</key>
		<string>Pnt</string>
		<key>porte</key>
		<string>Pte</string>
		<key>président</key>
		<string>Pdt</string>
		<key>rivière</key>
		<string>Riv</string>
		<key>route</key>
		<string>Rte</string>
		<key>rue</key>
		<string>R</string>
		<key>saint</key>
		<string>Ste</string>
		<key>saints</key>
		<string>Sts</string>
		<key>square</key>
		<string>Sq</string>
		<key>station</key>
		<string>Sta</string>
		<key>sénior</key>
		<string>Sr</string>
		<key>tour</key>
		<string>Tr</string>
		<key>tunnel</key>
		<string>Tun</string>
		<key>université</key>
		<string>Univ</string>
		<key>village</key>
		<string>Vil</string>
		<key>école</key>
		<string>Éc</string>
		<key>étage</key>
		<string>Ét</string>
		<key>étang</key>
		<string>Étg</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>allée</key>
		<string>All</string>
		<key>autoroute</key>
		<string>A</string>
		<key>chemin</key>
		<string>Chem</string>
		<key>cour</key>
		<string>Cr</string>
		<key>impasse</key>
		<string>Imp</string>
		<key>pic</key>
		<string>Pc</string>
		<key>périphérique</key>
		<string>Périph</string>
		<key>raccourci</key>
		<string>Rac</string>
		<key>rond-point</key>
		<string>Rd-Pt</string>
		<key>terrasse</key>
		<string>Ter</string>
		<key>trottoir</key>
		<string>Trot</string>
		<key>voie</key>
		<string>V</string>
		<key>voie express</key>
		<string>VEx</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>est</key>
		<string>E</string>
		<key>est-nord-est</key>
		<string>ENE</string>
		<key>est-sud-est</key>
		<string>ESE</string>
		<key>nord</key>
		<string>N</string>
		<key>nord-est</key>
		<string>NE</string>
		<key>nord-nord-est</key>
		<string>NNE</string>
		<key>nord-nord-ouest</key>
		<string>NNO</string>
		<key>nord-ouest</key>
		<string>NO</string>
		<key>ouest</key>
		<string>O</string>
		<key>ouest-nord-ouest</key>
		<string>ONO</string>
		<key>ouest-sud-ouest</key>
		<string>OSO</string>
		<key>sud</key>
		<string>S</string>
		<key>sud-est</key>
		<string>SE</string>
		<key>sud-ouest</key>
		<string>SO</string>
		<key>sud-sud-est</key>
		<string>SSE</string>
		<key>sud-sud-ouest</key>
		<string>SSO</string>
	</dict>
</dict>
</plist>
