<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meta</key>
	<dict>
		<key>capitalizeFirstLetter</key>
		<false/>
	</dict>
	<key>v5</key>
	<dict>
		<key>arrive</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>您已经到达您的{nth}个目的地</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>您已经到达您的{nth}个目的地，在道路左侧</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>您已经到达您的{nth}个目的地，在道路右侧</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>您已经到达您的{nth}个目的地，在道路左侧</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>您已经到达您的{nth}个目的地，在道路右侧</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>您已经到达您的{nth}个目的地，在道路左侧</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>您已经到达您的{nth}个目的地，在道路右侧</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>您已经到达您的{nth}个目的地，在您正前方</string>
			</dict>
		</dict>
		<key>constants</key>
		<dict>
			<key>direction</key>
			<dict>
				<key>east</key>
				<string>东</string>
				<key>north</key>
				<string>北</string>
				<key>northeast</key>
				<string>东北</string>
				<key>northwest</key>
				<string>西北</string>
				<key>south</key>
				<string>南</string>
				<key>southeast</key>
				<string>东南</string>
				<key>southwest</key>
				<string>西南</string>
				<key>west</key>
				<string>西</string>
			</dict>
			<key>lanes</key>
			<dict>
				<key>ox</key>
				<string>靠左直行</string>
				<key>oxo</key>
				<string>保持在道路两侧直行</string>
				<key>xo</key>
				<string>靠右直行</string>
				<key>xox</key>
				<string>保持在道路中间直行</string>
			</dict>
			<key>modifier</key>
			<dict>
				<key>left</key>
				<string>向左</string>
				<key>right</key>
				<string>向右</string>
				<key>sharp left</key>
				<string>向左</string>
				<key>sharp right</key>
				<string>向右</string>
				<key>slight left</key>
				<string>向左</string>
				<key>slight right</key>
				<string>向右</string>
				<key>straight</key>
				<string>直行</string>
				<key>uturn</key>
				<string>调头</string>
			</dict>
			<key>ordinalize</key>
			<dict>
				<key>1</key>
				<string>第一</string>
				<key>10</key>
				<string>第十</string>
				<key>2</key>
				<string>第二</string>
				<key>3</key>
				<string>第三</string>
				<key>4</key>
				<string>第四</string>
				<key>5</key>
				<string>第五</string>
				<key>6</key>
				<string>第六</string>
				<key>7</key>
				<string>第七</string>
				<key>8</key>
				<string>第八</string>
				<key>9</key>
				<string>第九</string>
			</dict>
		</dict>
		<key>continue</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>继续{modifier}</string>
				<key>destination</key>
				<string>继续{modifier}行驶，前往{destination}</string>
				<key>name</key>
				<string>继续{modifier}，上{way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>调头</string>
				<key>destination</key>
				<string>调头后前往{destination}</string>
				<key>name</key>
				<string>调头上{way_name}</string>
			</dict>
		</dict>
		<key>depart</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>出发向{direction}</string>
				<key>name</key>
				<string>出发向{direction}，上{way_name}</string>
			</dict>
		</dict>
		<key>end of road</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier}行驶</string>
				<key>destination</key>
				<string>{modifier}行驶，前往{destination}</string>
				<key>name</key>
				<string>{modifier}行驶，上{way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>继续直行</string>
				<key>destination</key>
				<string>继续直行，前往{destination}</string>
				<key>name</key>
				<string>继续直行，上{way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>在道路尽头调头</string>
				<key>destination</key>
				<string>在道路尽头调头，前往{destination}</string>
				<key>name</key>
				<string>在道路尽头调头上{way_name}</string>
			</dict>
		</dict>
		<key>fork</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>在岔道保持{modifier}</string>
				<key>destination</key>
				<string>在岔道保持{modifier}，前往{destination}</string>
				<key>name</key>
				<string>在岔道保持{modifier}，上{way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>调头</string>
				<key>destination</key>
				<string>调头，前往{destination}</string>
				<key>name</key>
				<string>调头，上{way_name}</string>
			</dict>
		</dict>
		<key>merge</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier}并道</string>
				<key>destination</key>
				<string>{modifier}并道，前往{destination}</string>
				<key>name</key>
				<string>{modifier}并道，上{way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>调头</string>
				<key>destination</key>
				<string>调头，前往{destination}</string>
				<key>name</key>
				<string>调头，上{way_name}</string>
			</dict>
		</dict>
		<key>modes</key>
		<dict>
			<key>ferry</key>
			<dict>
				<key>default</key>
				<string>乘坐轮渡</string>
				<key>destination</key>
				<string>乘坐开往{destination}的轮渡</string>
				<key>name</key>
				<string>乘坐{way_name}轮渡</string>
			</dict>
		</dict>
		<key>new name</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>继续{modifier}</string>
				<key>destination</key>
				<string>继续{modifier}，前往{destination}</string>
				<key>name</key>
				<string>继续{modifier}，上{way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>调头</string>
				<key>destination</key>
				<string>调头，前往{destination}</string>
				<key>name</key>
				<string>调头，上{way_name}</string>
			</dict>
		</dict>
		<key>notification</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>继续{modifier}</string>
				<key>destination</key>
				<string>继续{modifier}，前往{destination}</string>
				<key>name</key>
				<string>继续{modifier}，上{way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>调头</string>
				<key>destination</key>
				<string>调头，前往{destination}</string>
				<key>name</key>
				<string>调头，上{way_name}</string>
			</dict>
		</dict>
		<key>off ramp</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>上匝道</string>
				<key>destination</key>
				<string>通过匝道前往{destination}</string>
				<key>name</key>
				<string>通过匝道驶入{way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>通过左边的匝道</string>
				<key>destination</key>
				<string>通过左边的匝道前往{destination}</string>
				<key>name</key>
				<string>通过左边的匝道驶入{way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>通过右边的匝道</string>
				<key>destination</key>
				<string>通过右边的匝道前往{destination}</string>
				<key>name</key>
				<string>通过右边的匝道驶入{way_name}</string>
			</dict>
		</dict>
		<key>on ramp</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>通过匝道</string>
				<key>destination</key>
				<string>通过匝道前往{destination}</string>
				<key>name</key>
				<string>通过匝道驶入{way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>通过左边的匝道</string>
				<key>destination</key>
				<string>通过左边的匝道前往{destination}</string>
				<key>name</key>
				<string>通过左边的匝道驶入{way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>通过右边的匝道</string>
				<key>destination</key>
				<string>通过右边的匝道前往{destination}</string>
				<key>name</key>
				<string>通过右边的匝道驶入{way_name}</string>
			</dict>
		</dict>
		<key>rotary</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<dict>
					<key>default</key>
					<string>进入环岛</string>
					<key>destination</key>
					<string>通过环岛前往{destination}</string>
					<key>name</key>
					<string>通过环岛后驶入{way_name}</string>
				</dict>
				<key>exit</key>
				<dict>
					<key>default</key>
					<string>进入环岛并从{exit_number}出口驶出</string>
					<key>destination</key>
					<string>进入环岛后从{exit_number}出口驶出前往{destination}</string>
					<key>name</key>
					<string>进入环岛后从{exit_number}出口驶出进入{way_name}</string>
				</dict>
				<key>name</key>
				<dict>
					<key>default</key>
					<string>进入{rotary_name}环岛</string>
					<key>destination</key>
					<string>通过{rotary_name}环岛后前往{destination}</string>
					<key>name</key>
					<string>通过{rotary_name}环岛后驶入{way_name}</string>
				</dict>
				<key>name_exit</key>
				<dict>
					<key>default</key>
					<string>进入{rotary_name}环岛后从{exit_number}出口驶出</string>
					<key>destination</key>
					<string>进入{rotary_name}环岛后从{exit_number}出口驶出前往{destination}</string>
					<key>name</key>
					<string>进入{rotary_name}环岛后从{exit_number}出口驶出进入{way_name}</string>
				</dict>
			</dict>
		</dict>
		<key>roundabout</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<dict>
					<key>default</key>
					<string>进入环岛</string>
					<key>destination</key>
					<string>通过环岛后前往{destination}</string>
					<key>name</key>
					<string>通过环岛后驶入{way_name}</string>
				</dict>
				<key>exit</key>
				<dict>
					<key>default</key>
					<string>进入环岛后从{exit_number}出口驶出</string>
					<key>destination</key>
					<string>进入环岛后从{exit_number}出口驶出前往{destination}</string>
					<key>name</key>
					<string>进入环岛后从{exit_number}出口驶出前往{way_name}</string>
				</dict>
			</dict>
		</dict>
		<key>roundabout turn</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>在环岛{modifier}行驶</string>
				<key>destination</key>
				<string>在环岛{modifier}行驶，前往{destination}</string>
				<key>name</key>
				<string>在环岛{modifier}行驶，上{way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>在环岛左转</string>
				<key>destination</key>
				<string>在环岛左转，前往{destination}</string>
				<key>name</key>
				<string>在环岛左转，上{way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>在环岛右转</string>
				<key>destination</key>
				<string>在环岛右转，前往{destination}</string>
				<key>name</key>
				<string>在环岛右转，上{way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>在环岛继续直行</string>
				<key>destination</key>
				<string>在环岛继续直行，前往{destination}</string>
				<key>name</key>
				<string>在环岛继续直行，上{way_name}</string>
			</dict>
		</dict>
		<key>turn</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier}转弯</string>
				<key>destination</key>
				<string>{modifier}转弯，前往{destination}</string>
				<key>name</key>
				<string>{modifier}转弯，上{way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>左转</string>
				<key>destination</key>
				<string>左转，前往{destination}</string>
				<key>name</key>
				<string>左转，上{way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>右转</string>
				<key>destination</key>
				<string>右转，前往{destination}</string>
				<key>name</key>
				<string>右转，上{way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>直行</string>
				<key>destination</key>
				<string>直行，前往{destination}</string>
				<key>name</key>
				<string>直行，上{way_name}</string>
			</dict>
		</dict>
		<key>use lane</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{lane_instruction}然后{modifier}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>{lane_instruction}然后左转</string>
			</dict>
			<key>no_lanes</key>
			<dict>
				<key>default</key>
				<string>继续直行</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>{lane_instruction}然后右转</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>{lane_instruction}</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
