<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>berg</key>
		<string>Brg</string>
		<key>centrum</key>
		<string>Cntrm</string>
		<key>kruising</key>
		<string>Krsng</string>
		<key>meer</key>
		<string>Mr</string>
		<key>nationaal</key>
		<string>Nat’l</string>
		<key>toetreden</key>
		<string>Ttrdn</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>autobaan</key>
		<string>Baan</string>
		<key>autoweg</key>
		<string>Weg</string>
		<key>boulevard</key>
		<string>Blvd</string>
		<key>brug</key>
		<string>Br</string>
		<key>bypass</key>
		<string>Pass</string>
		<key>cirkel</key>
		<string>Crkl</string>
		<key>halve maan</key>
		<string>Maan</string>
		<key>inham</key>
		<string>Nham</string>
		<key>laan</key>
		<string>Ln</string>
		<key>lopen</key>
		<string>Lpn</string>
		<key>parkway</key>
		<string>Pky</string>
		<key>plaats</key>
		<string>Plts</string>
		<key>plaza</key>
		<string>Plz</string>
		<key>punt</key>
		<string>Pt</string>
		<key>rechtbank</key>
		<string>Rbank</string>
		<key>rijbaan</key>
		<string>Strook</string>
		<key>rijden</key>
		<string>Rijd</string>
		<key>snelweg</key>
		<string>Weg</string>
		<key>snoek</key>
		<string>Snk</string>
		<key>steeg</key>
		<string>Stg</string>
		<key>straat</key>
		<string>Str</string>
		<key>terras</key>
		<string>Trrs</string>
		<key>voetpad</key>
		<string>Stoep</string>
		<key>weg</key>
		<string>Weg</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>noorden</key>
		<string>N</string>
		<key>noordoost</key>
		<string>NO</string>
		<key>noordwest</key>
		<string>NW</string>
		<key>oost</key>
		<string>O</string>
		<key>westen</key>
		<string>W</string>
		<key>zuiden</key>
		<string>Z</string>
		<key>zuidoost</key>
		<string>ZO</string>
		<key>zuidwest</key>
		<string>ZW</string>
	</dict>
</dict>
</plist>
