<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>Vilius</key>
		<string>Vilius</string>
		<key>apartamentai</key>
		<string>apt</string>
		<key>aukštumos</key>
		<string>aukš</string>
		<key>centras</key>
		<string>ctr</string>
		<key>ežeras</key>
		<string>ež</string>
		<key>fortas</key>
		<string>ft</string>
		<key>jaun.</key>
		<string>jaun.</string>
		<key>kaimas</key>
		<string>km</string>
		<key>kalnas</key>
		<string>kln</string>
		<key>kelias</key>
		<string>kl</string>
		<key>miestelis</key>
		<string>mstl</string>
		<key>miesto centras</key>
		<string>m.ctr</string>
		<key>mokykla</key>
		<string>mok</string>
		<key>nacionalinis</key>
		<string>nac</string>
		<key>paminklas</key>
		<string>pmkl</string>
		<key>parkas</key>
		<string>pk</string>
		<key>sankryža</key>
		<string>skrž</string>
		<key>sesė</key>
		<string>sesė</string>
		<key>skveras</key>
		<string>skv</string>
		<key>stotis</key>
		<string>st</string>
		<key>tarptautinis</key>
		<string>trptaut</string>
		<key>taškas</key>
		<string>tšk</string>
		<key>turgus</key>
		<string>tgs</string>
		<key>tėvas</key>
		<string>tėv</string>
		<key>universitetas</key>
		<string>univ</string>
		<key>upelis</key>
		<string>up</string>
		<key>upė</key>
		<string>up</string>
		<key>vyr.</key>
		<string>vyr.</string>
		<key>Šv</key>
		<string>Šv</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>aikštė</key>
		<string>a.</string>
		<key>aplinkkelis</key>
		<string>aplnk</string>
		<key>autostrada</key>
		<string>auto.</string>
		<key>bulvaras</key>
		<string>blvr</string>
		<key>greitkelis</key>
		<string>grtkl</string>
		<key>juosta</key>
		<string>jst</string>
		<key>kelias</key>
		<string>kl</string>
		<key>kiemelis</key>
		<string>kml</string>
		<key>prospektas</key>
		<string>pspkt</string>
		<key>pusratis</key>
		<string>psrt</string>
		<key>takas</key>
		<string>tak.</string>
		<key>tiltas</key>
		<string>tlt</string>
		<key>vieta</key>
		<string>vt</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>pietryčiai</key>
		<string>PR</string>
		<key>pietvakariai</key>
		<string>PV</string>
		<key>pietūs</key>
		<string>P</string>
		<key>rytai</key>
		<string>R</string>
		<key>vakarai</key>
		<string>V</string>
		<key>šiaurė</key>
		<string>Š</string>
		<key>šiaurės rytai</key>
		<string>ŠR</string>
		<key>šiaurės vakarai</key>
		<string>ŠV</string>
	</dict>
</dict>
</plist>
