<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>abbreviations</key>
    <string>&quot;upelis&quot;,&quot;Up&quot;
&quot;centras&quot;,&quot;Ctr&quot;
&quot;nacionalinis&quot;,&quot;Nac&quot;
&quot;kalnas&quot;,&quot;Kln&quot;
&quot;kalnas&quot;,&quot;Kln&quot;
&quot;sankryža&quot;,&quot;Skrž&quot;
&quot;miesto centras&quot;,&quot;M.Ctr&quot;
&quot;tarptautinis&quot;, &quot;Trptaut&quot;
&quot;parkas&quot;, &quot;Pk&quot;
&quot;skveras&quot;, &quot;Skv&quot;
&quot;šv&quot;, &quot;Šv&quot;
&quot;aukštumos&quot;,&quot;Aukš&quot;
&quot;kelias&quot;,&quot;Kl&quot;
&quot;fortas&quot;,&quot;Ft&quot;
&quot;turgus&quot;,&quot;Tgs&quot;
&quot;centras&quot;,&quot;Ctr&quot;
&quot;mokykla&quot;,&quot;Mok&quot;
&quot;upė&quot;,&quot;Up&quot;,
&quot;sesė&quot;,&quot;Sesė&quot;
&quot;kaimas&quot;,&quot;Km&quot;
&quot;stotis&quot;,&quot;St&quot;
&quot;apartamentai&quot;,&quot;Apt&quot;
&quot;universitetas&quot;,&quot;Univ&quot;
&quot;miestelis&quot;,&quot;Mstl&quot;
&quot;ežeras&quot;,&quot;Ež&quot;
&quot;tėvas&quot;,&quot;Tėv&quot;
&quot;taškas&quot;,&quot;Tšk&quot;,
&quot;paminklas&quot;,&quot;Pmkl&quot;
&quot;sankryža&quot;,&quot;Skrž&quot;
</string>
    <key>classifications</key>
    <string>&quot;kiemelis&quot;,&quot;Kml&quot;
&quot;aplinkkelis&quot;,&quot;Aplnk&quot;
&quot;kelias&quot;,&quot;Kl&quot;
&quot;greitkelis&quot;,&quot;Grtkl&quot;
&quot;tiltas&quot;, &quot;Tlt&quot;
&quot;vieta&quot;,&quot;Vt&quot;,
&quot;pusratis&quot;,&quot;Psrt&quot;
&quot;bulvaras&quot;,&quot;Blvr&quot;
&quot;juosta&quot;, &quot;Jst&quot;
&quot;prospektas&quot;, &quot;Pspkt&quot;
&quot;autostrada&quot;, &quot;Auto.&quot;
&quot;greitkelis&quot;,&quot;Grtkl&quot;
&quot;aikštė&quot;, &quot;A.&quot;,
&quot;takas&quot;, &quot;Tak.&quot;,
</string>
    <key>directions</key>
    <string>&quot;rytai&quot;, &quot;R&quot;
&quot;šiaurės rytai&quot;, &quot;ŠR&quot;
&quot;pietūs&quot;, &quot;P&quot;
&quot;šiaurės vakarai&quot;, &quot;ŠV&quot;
&quot;šiaurė&quot;, &quot;Š&quot;
&quot;pietryčiai&quot;, &quot;PR&quot;
&quot;pietvakariai&quot;, &quot;PV&quot;
&quot;vakarai&quot;, &quot;V&quot;
</string>
  </dict>
</plist>
