<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>apartamentai</key>
		<string>Apt</string>
		<key>aukštumos</key>
		<string>Aukš</string>
		<key>centras</key>
		<string>Ctr</string>
		<key>ežeras</key>
		<string>Ež</string>
		<key>fortas</key>
		<string>Ft</string>
		<key>kaimas</key>
		<string>Km</string>
		<key>kalnas</key>
		<string>Kln</string>
		<key>kelias</key>
		<string>Kl</string>
		<key>miestelis</key>
		<string>Mstl</string>
		<key>miesto centras</key>
		<string>M.Ctr</string>
		<key>mokykla</key>
		<string>Mok</string>
		<key>nacionalinis</key>
		<string>Nac</string>
		<key>paminklas</key>
		<string>Pmkl</string>
		<key>parkas</key>
		<string>Pk</string>
		<key>sankryža</key>
		<string>Skrž</string>
		<key>sesė</key>
		<string>Sesė</string>
		<key>skveras</key>
		<string>Skv</string>
		<key>stotis</key>
		<string>St</string>
		<key>tarptautinis</key>
		<string>Trptaut</string>
		<key>taškas</key>
		<string>Tšk</string>
		<key>turgus</key>
		<string>Tgs</string>
		<key>tėvas</key>
		<string>Tėv</string>
		<key>universitetas</key>
		<string>Univ</string>
		<key>upelis</key>
		<string>Up</string>
		<key>upė</key>
		<string>Up</string>
		<key>šv</key>
		<string>Šv</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>aikštė</key>
		<string>A.</string>
		<key>aplinkkelis</key>
		<string>Aplnk</string>
		<key>autostrada</key>
		<string>Auto.</string>
		<key>bulvaras</key>
		<string>Blvr</string>
		<key>greitkelis</key>
		<string>Grtkl</string>
		<key>juosta</key>
		<string>Jst</string>
		<key>kelias</key>
		<string>Kl</string>
		<key>kiemelis</key>
		<string>Kml</string>
		<key>prospektas</key>
		<string>Pspkt</string>
		<key>pusratis</key>
		<string>Psrt</string>
		<key>takas</key>
		<string>Tak.</string>
		<key>tiltas</key>
		<string>Tlt</string>
		<key>vieta</key>
		<string>Vt</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>pietryčiai</key>
		<string>PR</string>
		<key>pietvakariai</key>
		<string>PV</string>
		<key>pietūs</key>
		<string>P</string>
		<key>rytai</key>
		<string>R</string>
		<key>vakarai</key>
		<string>V</string>
		<key>šiaurė</key>
		<string>Š</string>
		<key>šiaurės rytai</key>
		<string>ŠR</string>
		<key>šiaurės vakarai</key>
		<string>ŠV</string>
	</dict>
</dict>
</plist>
