<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<dict>
		<key>centrum</key>
		<string>C.</string>
		<key>hospital</key>
		<string>Hosp.</string>
		<key>nordre</key>
		<string>Nr.</string>
		<key>plads</key>
		<string>Pl.</string>
		<key>sankt</key>
		<string>Skt.</string>
		<key>skole</key>
		<string>Sk.</string>
		<key>station</key>
		<string>St.</string>
		<key>stræde</key>
		<string>Str.</string>
		<key>universitet</key>
		<string>Uni.</string>
		<key>ved</key>
		<string>v.</string>
		<key>vestre</key>
		<string>v.</string>
		<key>vænge</key>
		<string>vg.</string>
	</dict>
	<key>classifications</key>
	<dict>
		<key>avenue</key>
		<string>Ave</string>
		<key>boulevard</key>
		<string>Boul.</string>
		<key>dronning</key>
		<string>Dronn.</string>
		<key>gammel</key>
		<string>Gl.</string>
		<key>nørre</key>
		<string>Nr.</string>
		<key>sønder</key>
		<string>Sdr.</string>
		<key>vester</key>
		<string>V.</string>
		<key>vestre</key>
		<string>V.</string>
		<key>øster</key>
		<string>Ø.</string>
		<key>østre</key>
		<string>Ø.</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>nord</key>
		<string>N</string>
		<key>nordvest</key>
		<string>NV</string>
		<key>nordøst</key>
		<string>NØ</string>
		<key>syd</key>
		<string>S</string>
		<key>sydvest</key>
		<string>SV</string>
		<key>sydøst</key>
		<string>SØ</string>
		<key>vest</key>
		<string>V</string>
		<key>øst</key>
		<string>Ø</string>
	</dict>
</dict>
</plist>
